{% extends "layout.html" %}
{% load static %}

{% block content %}
<div class="container-fluid pb-5 m-0 px-0" style="background-color: #DAB28F;">
    <section class="hero mb-5">
        <img src="{% static 'img/bg_up_2.avif' %}" class="img-fluid" alt="...">
        <div class="z-3 position-absolute text-light text-center"></div>
    </section>
    <div class="container rounded-3 border border-dark shadow-lg p-3 my-5" style="background-color: #f3e7dc;">
        <div class="m-3">
            <div class="section-title my-3">
                {{ place.name }}
            </div>
        </div>
        <div>
            <h3><span class="fw-bold">Description: </span> {{ place.get_filter_subtypes|title }}</h3>
            <h3><span class="fw-bold">Address: </span> {{ place.address|capfirst }} - {{ place.city|capfirst }}, MO</h3>
            <h3><span class="fw-bold">Phone: </span> {{ place.phone_number }}</h3>
        </div>
    </div>
</div>
{% endblock %}