{% extends "layout.html" %}
{% load static %}

{% block seo %}
 <title>
    Abbey of Benedictines of Mary, Queen of Apostles | Clinton County, Missouri
 </title>
 <meta name="description" property="og:description" content="Few spots on earth offer the kind of spiritual harmony you'll find at the Abbey of Benedictines of Mary, Queen of Apostles. It is a holy spot where faith and serenity meet marvel and curiosity in one of Clinton County's most unusual sites to visit.">
 <meta name="keywords" content="Abbey of Benedictines of Mary, Queen of Apostles, Clinton County, Missouri, Gower, Mass, convent, choir, music, miracles, Sister Wilhelmina, Benedictines of Mary">
 <meta property="og:title" content="Abbey of Benedictines of Mary, Queen of Apostles | Clinton County, Missouri">
 <meta property="og:type" content="website">
 <meta property="og:url" content="https://www.visitclintoncomo.com/things-to-do/abbey-of-benedictines-of-mary-queen-of-apostles/">
 <meta property="og:image" content="{% static 'img/abbey/abbey_1_4x3.avif' %}">
 <meta property="og:image:width" content="200">
 <meta property="og:image:height" content="200">
 <meta property="og:site_name" content="Discover Clinton County, Missouri">
 <meta property="og:locale" content="en_US">
 <meta property="og:image:alt" content="Abbey of Benedictines of Mary, Queen of Apostles">
 <meta property="og:image:type" content="image/avif">
 <link rel="canonical" href="https://www.visitclintoncomo.com/things-to-do/abbey-of-benedictines-of-mary-queen-of-apostles/">
 <meta name="twitter:card" content="summary">
{% endblock %}

{% block skiplink %}
<a href="#abbey-content" class="visually-hidden-focusable skip-link">Skip main navigation</a>
{% endblock skiplink %}

{% block content %}
<div id="abbey-content" class="container-fluid py-5" style="background-color: #f3e7dc;">
    <div class="container mt-5">
        <div class="m-3">
            <h1 class="section-title my-3" keywords="Abbey of Benedictines of Mary, Queen of Apostles">
                Abbey of Benedictines of Mary, Queen of Apostles
            </h1>
            <h2 class="section-subtitle">
                Music and Miracles in a Place of Peace.
            </h2>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/abbey/abbey_1_4x3.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <p class="section-text">
                    Few spots on earth offer the kind of spiritual harmony you&apos;ll find at the Abbey of Benedictines of Mary, 
                    Queen of Apostles. It is a holy spot where faith and serenity meet marvel and curiosity in one of Clinton 
                    County&apos;s most unusual sites to visit. Surrounded by farms and woods near Gower, Missouri, the Abbey 
                    welcomes you to attend Mass and stroll the grounds where the convent&apos;s sisters live a life of prayer, 
                    work and music.
                </p>
            </div>
        </div>
            <div class="row align-items-center py-4">
                <div class="col-12 col-md-6">
                    <img src="{% static 'img/abbey/abbey_2_4x3.avif' %}" alt="" class="img-fluid rounded-3">
                </div>
                <div class="d-none d-md-block col-md-6 order-first">
                    <p class="section-text">
                        If your timing is right, you will hear the sisters sing liturgical music at Mass that is not only beautiful, 
                        but also famous. The convent choir was named Billboard's Classical Traditional Artists in 2012 and 2013 for 
                        its first two albums.
                    </p>
                </div>
                <div class="d-block d-md-none col-12">
                    <p class="section-text">
                        If your timing is right, you will hear the sisters sing liturgical music at Mass that is not only beautiful, 
                        but also famous. The convent choir was named Billboard's Classical Traditional Artists in 2012 and 2013 for 
                        its first two albums.
                    </p> 
                </div>
            </div>
            <div class="row align-items-center py-4">
                <div class="col-12 col-md-6">
                    <img src="{% static 'img/abbey/abbey_3_1.avif' %}" alt="" class="img-fluid rounded-3 mx-auto d-block">
                </div>
                <div class="col-12 col-md-6">
                    <p class="section-text">
                        The Abbey gained more national fame in the summer of 2023 for an occurrence that some describe as a miracle. 
                        The sisters disinterred the body of the Abbey&apos;s founder, Sister Wilhelmina, to transfer it to a newly 
                        completed place of honor inside the church. When they opened the coffin, they found that the body and its 
                        clothing were still intact after four years in a grave. That summer more than 15,000 pilgrims came to the 
                        abbey talking of miracles and searching for grace.
                    </p>
                </div>
            </div>
            <div class="row align-items-center py-4">
                <p class="section-subtitle">
                    Visitors are welcome to view the body of Sister Wilhelmina and experience the peace of the Abbey. For more 
                    information and Mass times, please visit the <a href="https://benedictinesofmary.org/schedule/" class="btn btn-lg btn-outline-success" target="_blank" rel="noopener noreferrer">Abbey&apos;s website</a>. 
                    The sisters request that visitors wear modest attire and respect private areas of the grounds.
                </p>
            </div>
        </div>
    </div>  
</div>
{% endblock %}