{% extends "layout.html" %}
{% load static %}

{% block seo %}
 <title>
    Cameron Historical Society and Depot Museum | Clinton County, Missouri
 </title>
 <meta name="description" property="og:description" content="Step into Cameron's rich railroad past at the Cameron Depot Museum, located at 202 N. Walnut. This former Chicago, Burlington, and Quincy Railroad depot, lovingly converted by the Cameron Historical Society, showcases artifacts and memorabilia that tell the story of the town's connection to the railroads and the iconic Jefferson Highway. It's a must-visit for fans of railroads, rural history and fascinating artifacts from the past.">
 <meta name="keywords" content="Cameron Historical Society, Cameron Depot Museum, Cameron, Missouri, Chicago, Burlington, and Quincy Railroad, Jefferson Highway, rural history, artifacts, memorabilia">
 <meta property="og:title" content="Cameron Historical Society and Depot Museum | Clinton County, Missouri">
 <meta property="og:type" content="website">
 <meta property="og:url" content="https://www.visitclintoncomo.com/things-to-do/cameron-historical-society-and-depot-museum/">
 <meta property="og:image" content="{% static 'img/cameron_historical_society/depot_1_4x3.avif' %}">
 <meta property="og:image:width" content="200">
 <meta property="og:image:height" content="200">
 <meta property="og:site_name" content="Discover Clinton County, Missouri">
 <meta property="og:locale" content="en_US">
 <meta property="og:image:alt" content="Cameron Depot Museum">
 <meta property="og:image:type" content="image/avif">
 <meta name="twitter:card" content="summary">
{% endblock %}

{% block content %}
<div class="container-fluid py-5" style="background-color: #f3e7dc;">
    <div class="container mt-5">
        <h1 class="section-title my-3" keywords="Cameron Historical Society, Cameron Depot Museum">
            Discover the Cameron Depot Museum
        </h1>
        
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/cameron_historical_society/depot_1_4x3.avif' %}" alt="Cameron Depot Museum" class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <h2 class="section-subtitle">
                    From Depot to Museum
                </h2>
                <p class="section-text">
                    Step into Cameron&apos;s rich railroad past at the Cameron Depot Museum, located at 202 N. Walnut. This 
                    former Chicago, Burlington, and Quincy Railroad depot, lovingly converted by the Cameron Historical Society, 
                    showcases artifacts and memorabilia that tell the story of the town&apos;s connection to the railroads and 
                    the iconic Jefferson Highway. It&apos;s a must-visit for fans of railroads, rural history and fascinating 
                    artifacts from the past.
                </p>
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/cameron_historical_society/depot_2_4x3.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="d-none d-md-block col-md-6 order-first">
                <h2 class="section-subtitle">
                    Free Entry, Priceless History
                </h2>
                <p class="section-text">
                    Admission is free, though donations are appreciated. For those interested in more railway history, visit the 
                    old Rock Island Line depot, now home to Iron Horse Primitives antique store at 207 W 3rd St.
                </p>
            </div>
            <div class="d-block d-md-none col-12">
                <h2 class="section-subtitle">
                    Free Entry, Priceless History
                </h2>
                <p class="section-text">
                    Admission is free, though donations are appreciated. For those interested in more railway history, visit the 
                    old Rock Island Line depot, now home to Iron Horse Primitives antique store at 207 W 3rd St.
                </p> 
            </div>
        </div>
        <div class="m-3">
            <p class="section-subtitle">
                For museum hours or to schedule a private tour, email the historical society or call 816-632-0429 or 816-284-0645.
                <a href="https://cameronhistory.com/depot-museum-2024-season.html" class="btn btn-outline-success btn-lg" target="_blank" rel="noopener noreferrer">Learn More</a>
            </p>
        </div>
        <div class="row text-center text-lg-start align-items-center">
            <div class="col-10 col-md-4 mx-auto my-1">
                <img class="img-fluid rounded-3" src="{% static 'img/cameron_historical_society/gallery_0_3x2.avif' %}" alt="">
            </div>
            <div class="col-10 col-md-4 mx-auto my-1">
                <img class="img-fluid rounded-3" src="{% static 'img/cameron_historical_society/gallery_1_3x2.avif' %}" alt="">
            </div>
            <div class="col-10 col-md-4 mx-auto my-1">
                <img class="img-fluid rounded-3" src="{% static 'img/cameron_historical_society/gallery_2_3x2.avif' %}" alt="">
            </div>
            <div class="col-10 col-md-4 mx-auto my-1">
                <img class="img-fluid rounded-3" src="{% static 'img/cameron_historical_society/gallery_3_3x2.avif' %}" alt="">
            </div>
            <div class="col-10 col-md-4 mx-auto my-1">
                <img class="img-fluid rounded-3" src="{% static 'img/cameron_historical_society/gallery_5_3x2.avif' %}" alt="">
            </div>
            <div class="col-10 col-md-4 mx-auto my-1">
                <img class="img-fluid rounded-3" src="{% static 'img/cameron_historical_society/gallery_4_3x2.avif' %}" alt="">
            </div>
            <div class="col-10 mx-auto my-1 d-block d-md-none">
                <img class="img-fluid rounded-3" src="{% static 'img/cameron_historical_society/gallery_6_3x2.avif' %}" alt="">
            </div>
            <div class="col-10 mx-auto my-1 d-block d-md-none">
                <img class="img-fluid rounded-3" src="{% static 'img/cameron_historical_society/gallery_7_3x2.avif' %}" alt="">
            </div>
            <div class="col-10 col-md-4 mx-auto my-1">
                <img class="img-fluid rounded-3" src="{% static 'img/cameron_historical_society/gallery_8_1x2.avif' %}" alt="">
            </div>
            <div class="col col-md-4 mx-auto d-none d-md-block">
                <img class="img-fluid rounded-3 my-4" src="{% static 'img/cameron_historical_society/gallery_6_3x2.avif' %}" alt="">
                <img class="img-fluid rounded-3 my-4" src="{% static 'img/cameron_historical_society/gallery_7_3x2.avif' %}" alt="">
            </div>
            <div class="col-10 col-md-4 mx-auto my-1">
                <img class="img-fluid rounded-3" src="{% static 'img/cameron_historical_society/gallery_9_1x2.avif' %}" alt="">
            </div>
        </div>
    </div>  
</div>
{% endblock %}