{% extends "layout.html" %}
{% load static %}

{% block seo %}
 <title>
    Dandelion Creek CO | Clinton County, Missouri
 </title>
 <meta name="description" property="og:description" content="...">
 <meta name="keywords" content="...">
 <meta property="og:title" content="TEMP TITLE | Clinton County, Missouri">
 <meta property="og:type" content="website">
 <meta property="og:url" content="https://www.visitclintoncomo.com/things-to-do/thing_template/">
 <meta property="og:image" content="{% static 'icons/VCCM_Logo_Left.png' %}">
 <meta property="og:image:width" content="200">
 <meta property="og:image:height" content="200">
 <meta property="og:site_name" content="Discover Clinton County, Missouri">
 <meta property="og:locale" content="en_US">
 <meta property="og:image:alt" content="Visit Clinton County, Missouri logo">
 <meta property="og:image:type" content="image/png">
 <meta name="twitter:card" content="summary">
{% endblock %}

{% block skiplink %}
<a href="#dandelion-creek-content" class="visually-hidden-focusable skip-link">Skip main navigation</a>
{% endblock skiplink %}

{% block content %}
<d id="dandelion-creek-content" class="container-fluid p-0 m-0">
    <section class="hero mb-5">
        <img src="{% static 'img/dandelion_creek/dc_soap_banner_3x1.avif' %}" class="img-fluid" alt="Background collage of images for the Clinton County Initiative.">
    </section>
    <div class="container">
        <div class="card-group d-none d-md-flex justify-content-center mb-3 business-card-group">
            <div class="card text-center mb-3 business-card border-0">
                <div class="mx-auto business-icon-circles rounded-circle">
                    <img src="{% static 'icons/gesture_color.png' %}" class="mx-auto img-fluid" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Welcome
                    </h5>
                    <p class="card-text">
                        <small class="text-body-secondary">
                            Step off the beaten path and into the heart of Plattsburg, Missouri, where ...
                        </small>
                    </p>
                    <a href="#paragraph-1" class="btn btn-danger">
                        more
                    </a>
                </div>
            </div>
            <div class="card text-center mb-3 business-card border-0">
                <div class="mx-auto business-icon-circles rounded-circle">
                    <img src="{% static 'icons/soap_color.png' %}" class="mx-auto business-icons" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Handcrafted Soap
                    </h5>
                    <p class="card-text">
                        <small class="text-body-secondary">
                            Free of harsh chemicals and detergents, every bar is ...
                        </small>
                    </p>
                    <a href="#paragraph-2" class="btn btn-info">
                        more
                    </a>
                </div>
            </div>
            <div class="card text-center mb-3 business-card border-0">
                <div class="mx-auto business-icon-circles rounded-circle">
                    <img src="{% static 'icons/information_color.png' %}" class="mx-auto business-icons" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Meet the Goats
                    </h5>
                    <p class="card-text">
                        <small class="text-body-secondary">
                            Each morning, we&apos;re up with the sun milking our sweet herd of goats ...
                        </small>
                    </p>
                    <a href="#paragraph-3" class="btn btn-success">
                        more
                    </a>
                </div>
            </div>
            <div class="card text-center mb-3 business-card border-0">
                <div class="mx-auto business-icon-circles rounded-circle">
                    <img src="{% static 'icons/store_color.png' %}" class="mx-auto business-icons" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Visit Us
                    </h5>
                    <p class="card-text">
                        <small class="text-body-secondary">
                            Stop by our farm shop at 106 E. Broadway St. in Plattsburg, Missouri ...
                        </small>
                    </p>
                    <a href="#paragraph-4" class="btn btn-warning">
                        more
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="paragraph-1" class="my-3">
            <h1 class="section-title my-3">
                Dandelion Creek Co.
            </h1>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/dandelion_creek/dc_soap_1.avif' %}" alt="..." class="img-fluid rounded-3 mx-auto d-block">
            </div>
            <div class="col-12 col-md-6">
                <h2 class="section-subtitle my-3">
                    Welcome to our Soapery
                </h2>
                <p class="section-text">
                    Step off the beaten path and into the heart of Plattsburg, Missouri, where we craft small-batch soap from the milk of our own Alpine and Saanen goats. Named 1st Place in the 2025 Best of Rural Missouri, our charming farm shop has become a beloved stop for travelers and locals alike.
                </p>
            </div>
        </div>
        <div id="paragraph-2" class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/dandelion_creek/dc_soap_2.avif' %}" alt="..." class="img-fluid rounded-3">
            </div>
            <div class="d-none d-md-block col-md-6 order-first">
                <h2 class="section-subtitle my-3">
                    Handcrafted Goat Milk Soap
                </h2>
                <p class="section-text">
                    Free of harsh chemicals and detergents, every bar is hand-poured, cut, and stamped on-site, using fresh goat milk, nourishing oils, and carefully chosen ingredients. Whether you&apos;re sensitive to scents or love a bold fragrance, there&apos;s a bar for you. 
                </p>
            </div>
            <div class="d-block d-md-none col-12">
                <h2 class="section-subtitle my-3">
                    Handcrafted Goat Milk Soap
                </h2>
                <p class="section-text">
                    Free of harsh chemicals and detergents, every bar is hand-poured, cut, and stamped on-site, using fresh goat milk, nourishing oils, and carefully chosen ingredients. Whether you&apos;re sensitive to scents or love a bold fragrance, there&apos;s a bar for you. 
                </p>
            </div>
        </div>
        <div id="paragraph-3" class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/dandelion_creek/dc_soap_3.avif' %}" alt="..." class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <h2 class="section-subtitle my-3">
                    Meet the Goats
                </h2>
                <p class="section-text">
                    Each morning, we&apos;re up with the sun milking our sweet herd of goats &mdash; they&apos;re the real stars behind every bar of soap we make. That fresh milk goes straight into our small batches, made right here at the shop. It&apos;s part of our farm-to-skin promise: simple, local, and made with care &lpar;and maybe a little goat gossip&rpar;.
                </p>
                <p id="paragraph-4" class="section-text">
                    If you visit in the spring, you might even catch our baby goats bouncing around behind the shop and maybe even snag a turn bottle-feeding one &mdash; it&apos;s pure joy, topped with loads of goat kisses.
                </p>
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/dandelion_creek/dc_soap_4.avif' %}" alt="..." class="img-fluid rounded-3 mx-auto d-block">
            </div>
            <div class="d-none d-md-block col-md-6 order-first">
                <h2 class="section-subtitle my-3">
                    Visit Us
                </h2>
                <p class="section-text text-center">
                    106 E. Broadway St.<br>Plattsburg, Missouri 64477
                </p>
                <h4 class="section-subtitle">
                    Hours
                </h4>
                <p class="section-text text-center">
                    Wednesday - Friday<br>10am - 5pm<br><br>Saturday<br>9am - 12pm
                </p>
                <p class="section-text text-center">
                    <a href="https://dandelion-creek.com/" class="btn btn-lg btn-outline-success" target="_blank" rel="noopener noreferrer">icon 1</a>
                    <a href="https://dandelion-creek.com/" class="btn btn-lg btn-outline-primary" target="_blank" rel="noopener noreferrer">icon 2</a>
                </p>
            </div>
            <div class="d-block d-md-none col-12">
                <h2 class="section-subtitle my-3">
                    Visit Us
                </h2>
                <p class="section-text text-center">
                    106 E. Broadway St.<br>Plattsburg, Missouri 64477
                </p>
                <h4 class="section-subtitle">
                    Hours
                </h4>
                <p class="section-text text-center">
                    Wednesday - Friday<br>10am - 5pm<br><br>Saturday<br>9am - 12pm
                </p>
                <p class="section-text text-center">
                    <a href="https://dandelion-creek.com/" class="btn btn-lg btn-outline-success" target="_blank" rel="noopener noreferrer">
                        <img src="{% static 'icons/world_wide_web.png' %}" class="mx-auto" alt="...">
                    </a>
                    <a href="https://dandelion-creek.com/" class="btn btn-lg btn-outline-primary" target="_blank" rel="noopener noreferrer">icon 2</a>
                </p>
            </div>
        </div>
    </div> 
</div>
{% endblock %}