{% extends "layout.html" %}
{% load static %}

{% block seo %}
 <title>
    McGee Family Conservation Area | Clinton County, Missouri
 </title>
 <meta name="description" property="og:description" content="Discover the McGee Family Conservation Area in Clinton County, Missouri. This scenic reserve offers 1,000 acres of pastures, woodlands, and stream banks for outdoor enthusiasts to explore. Enjoy fishing, kayaking, hunting, and the natural beauty of rural Missouri.">
 <meta name="keywords" content="McGee Family Conservation Area, Clinton County, Missouri">
 <meta property="og:title" content="McGee Family Conservation Area | Clinton County, Missouri">
 <meta property="og:type" content="website">
 <meta property="og:url" content="https://www.visitclintoncomo.com/things-to-do/mcgee-family-conservation-area">
 <meta property="og:image" content="{% static 'img/home_page/pv_river_4x3.avif' %}">
 <meta property="og:image:width" content="200">
 <meta property="og:image:height" content="200">
 <meta property="og:site_name" content="Discover Clinton County, Missouri">
 <meta property="og:locale" content="en_US">
 <meta property="og:image:alt" content="Image alt example">
 <meta property="og:image:type" content="image/avif">
 <meta name="twitter:card" content="summary">
{% endblock %}

{% block skiplink %}
<a href="#mcgee-family-conservation-area-content" class="visually-hidden-focusable skip-link">Skip main navigation</a>
{% endblock skiplink %}

{% block content %}
<div id="mcgee-family-conservation-area-content" class="container-fluid py-5" style="background-color: #f3e7dc;">
    <div class="container mt-5">
        <div class="m-3">
            <h1 class="section-title my-3" keywords="McGee Family Conservation Area">
                McGee Family Conservation Area
            </h1>
        </div>
        
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/mcgee_family_conservation/mcgee_1.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <h2 class="section-subtitle">
                    Explore Nature&apos;s Beauty
                </h2>
                <p class="section-text">
                    Just south of Plattsburg, the McGee Family Conservation Area offers a peaceful escape 
                    across 1,000 acres of pastures, woodlands, and stream banks. Originally a family farm, 
                    this scenic reserve was bequeathed in 2010 by Kansas City businessman Thomas F. McGee, 
                    Jr., inviting visitors to enjoy the rolling hills, fishing ponds, and Little Platte 
                    River frontage that showcase the beauty of rural Missouri.
                </p>
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/mcgee_family_conservation/mcgee_2.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="d-none d-md-block col-md-6 order-first">
                <h2 class="section-subtitle">
                    Outdoor Adventure Awaits
                </h2>
                <p class="section-text">
                    Anglers and kayakers can access the Little Platte River near the bridge, paddling 
                    upstream or floating downstream toward Smithville Lake. With crappie, sunfish, catfish, 
                    and black bass in the waters, it&apos;s an ideal spot for fishing enthusiasts. The area 
                    also shines in the fall as a prime location for deer and turkey hunting, with 
                    opportunities for muzzleloader, archery, and firearms in line with state regulations.
                </p>
            </div>
            <div class="d-block d-md-none col-12">
                <h2 class="section-subtitle">
                    Outdoor Adventure Awaits
                </h2>
                <p class="section-text">
                    Anglers and kayakers can access the Little Platte River near the bridge, paddling 
                    upstream or floating downstream toward Smithville Lake. With crappie, sunfish, catfish, 
                    and black bass in the waters, it&apos;s an ideal spot for fishing enthusiasts. The area 
                    also shines in the fall as a prime location for deer and turkey hunting, with 
                    opportunities for muzzleloader, archery, and firearms in line with state regulations.
                </p>
                
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/mcgee_family_conservation/mcgee_0.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <h2 class="section-subtitle">
                    Experience Rural Missouri
                </h2>
                <p class="section-text">
                    Located 1.6 miles south of Plattsburg on Route C, the McGee Family Conservation Area is 
                    a natural treasure open for all to explore. For more details, call &lpar;816&rpar; 
                    675-2205 or visit the Missouri Department of Conservation website.
                </p>
                <p class="section-text">
                    Come enjoy a slice of rural tranquility at McGee Family Conservation Area!
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}