{% extends "layout.html" %}
{% load static %}

{% block seo %}
 <title>
    Plattsburg Country Club Golf Course | Clinton County, Missouri
 </title>
 <meta name="description" property="og:description" content="Enjoy a relaxing and scenic round of golf at the Plattsburg Country Club Golf Course in Clinton County, Missouri. Experience a historic course with unique layouts and beautiful landscapes.">
 <meta name="keywords" content="Plattsburg Country Club Golf Course, Clinton County, Missouri, Plattsburg, golf, golf course, country club, Jeff Klaiber, Pete Dye, bluegrass, bentgrass, golfers, hills, creeks, ponds, fairways, greens, tee times, pro shop, greens fees">
 <meta property="og:title" content="Plattsburg Country Club Golf Course | Clinton County, Missouri">
 <meta property="og:type" content="website">
 <meta property="og:url" content="https://www.visitclintoncomo.com/things-to-do/plattsburg-country-club/">
 <meta property="og:image" content="{% static 'img/home_page/pv_river_4x3.avif' %}">
 <meta property="og:image:width" content="200">
 <meta property="og:image:height" content="200">
 <meta property="og:site_name" content="Discover Clinton County, Missouri">
 <meta property="og:locale" content="en_US">
 <meta property="og:image:alt" content="Image alt example">
 <meta property="og:image:type" content="image/avif">
 <meta name="twitter:card" content="summary">
{% endblock %}

{% block skiplink %}
<a href="#plattsburg-country-club-content" class="visually-hidden-focusable skip-link">Skip main navigation</a>
{% endblock skiplink %}

{% block content %}
<div id="plattsburg-country-club-content" class="container-fluid py-5" style="background-color: #f3e7dc;">
    <div class="container mt-5">
        <div class="m-3">
            <h1 class="section-title my-3">
                Plattsburg Country Club Golf Course
            </h1>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/golf/golf_1_4x3.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <h2 class="section-subtitle">
                    Golf in the Country
                </h2>
                <p class="section-text">
                    Golf courses seem more at home in the country than in the city. No highway noise in the background. No long lines 
                    at the tee boxes. No snobs in the pro shop. All of which explains why Plattsburg Country Club Golf Course 
                    is such a pleasure to play.<br>
                    Our course features stimulating layouts without the high greens fees you pay for city courses and tee times are 
                    easier to acquire.
                </p>
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/golf/golf_3_4x3.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="d-none d-md-block col-md-6 order-first">
                <p class="section-text">
                    This course has been challenging golfers since 1921. Its par 71 layout is 6,250 yards of unique holes designed by 
                    Jeff Klaiber, a former Pete Dye architect. It rolls through hills, across a couple of creeks and around ponds. The 
                    fairways are bluegrass; the undulating greens are bentgrass. New ownership has taken great pride in making the 
                    course a joy to play, and it is also memorably scenic. For more information: 
                    <a href="https://www.plattsburgcc.com/golf/" class="btn btn-lg btn-outline-success" rel="noopener noreferrer" target="_blank">Click Here</a>
                </p>
            </div>
            <div class="d-block d-md-none col-12">
                <p class="section-text">
                    This course has been challenging golfers since 1921. Its par 71 layout is 6,250 yards of unique holes designed by 
                    Jeff Klaiber, a former Pete Dye architect. It rolls through hills, across a couple of creeks and around ponds. The 
                    fairways are bluegrass; the undulating greens are bentgrass. New ownership has taken great pride in making the 
                    course a joy to play, and it is also memorably scenic. For more information: 
                    <a href="https://www.plattsburgcc.com/golf/" class="btn btn-lg btn-outline-success" rel="noopener noreferrer" target="_blank">Click Here</a>
                </p> 
            </div>
        </div>
        <p class="section-subtitle">
            Come play at one of Clinton County&apos;s finest courses and experience golf as it&apos;s meant to be—relaxed, beautiful, and unforgettable!
        </p>
    </div>  
</div>
{% endblock %}