{% extends "layout.html" %}
{% load static %}

{% block title %}Arts{% endblock %}

{% block content %}
<div class="container-fluid p-5" style="background-color: #DAB28F;">
    <div class="container rounded-3 border border-dark shadow-lg p-3 mt-5" style="background-color: #f3e7dc;">
        <div class="m-3">
            <div class="section-title my-3">
                Explore Clinton County&apos;s Vibrant Public Art Scene
            </div>
        </div>  
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/art/art_1_3x2.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <div class="section-subtitle">
                    Public Art in Clinton County
                </div>
                <p class="section-text">
                    Public art comes alive in Clinton County, where murals, sculptures, and restored ghost signs tell the stories 
                    of our past and celebrate our present. Stroll through Plattsburg and discover its artistic treasures, starting 
                    with the large mural at Maple and Main, which depicts the historic Jefferson Highway. Across the street, a 
                    beautiful mural honors the county&apos;s connection to nature, focusing on the importance of birds. Just up the 
                    road at Main and Broadway, another mural captures the charm of rural life.
                </p>
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/art/art_2_16x9.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="d-none d-md-block col-md-6 order-first">
                <div class="section-subtitle">
                    Cameron&apos;s Railroad Legacy
                </div>
                <p class="section-text">
                    In Cameron, history is brought to life with a stunning mural at Walnut and E. Third, featuring a steam locomotive 
                    chugging through the landscape, paying homage to the town&apos;s railroad legacy.
                </p>
            </div>
            <div class="d-block d-md-none col-12">
                <div class="section-subtitle">
                    Cameron&apos;s Railroad Legacy
                </div>
                <p class="section-text">
                    In Cameron, history is brought to life with a stunning mural at Walnut and E. Third, featuring a steam locomotive 
                    chugging through the landscape, paying homage to the town&apos;s railroad legacy.
                </p> 
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/art/art_3_3x2.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <div class="section-subtitle">
                    Plattsburg&apos;s Artistic Highlights
                </div>
                <p class="section-text">
                    Public art also soars at the DeFreece Real Estate building in Plattsburg, where metal birds take flight above the 
                    streets. In front of the county courthouse, you&apos;ll find the iconic statue of David Rice Atchison, famously 
                    claimed to have been U.S. president for a day. The exterior of the courthouse itself is home to whimsical art, 
                    including a painting of the original courthouse for Missouri&apos;s bicentennial and vintage black-and-white 
                    photos of Main Street from a century ago.
                </p>
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/art/art_4_3x2.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="d-none d-md-block col-md-6 order-first">
                <div class="section-subtitle">
                    Ghost Signs Revived
                </div>
                <p class="section-text">
                    Ghost signs&mdash;vintage advertisements painted on buildings&mdash;have been brought back to life across the 
                    county. In Plattsburg, check out the restored signs for General Arthur cigars and Streiff, Peterman & Co. 
                    Studebaker buggies. In Lathrop, a long-hidden sign for Mail Pouch Tobacco was recently rediscovered on Oak Street.
                </p>
            </div>
            <div class="d-block d-md-none col-12">
                <div class="section-subtitle">
                    Ghost Signs Revived
                </div>
                <p class="section-text">
                    Ghost signs&mdash;vintage advertisements painted on buildings&mdash;have been brought back to life across the 
                    county. In Plattsburg, check out the restored signs for General Arthur cigars and Streiff, Peterman & Co. 
                    Studebaker buggies. In Lathrop, a long-hidden sign for Mail Pouch Tobacco was recently rediscovered on Oak Street.
                </p>
            </div>
        </div>
        <div class="m-3">
            <div class="section-subtitle">
                Clinton County is a treasure trove of public art, where every mural, sculpture, and ghost sign tells a story. Come visit 
                and experience the creativity and history that fill our streets!
            </div>
        </div>
    </div>  
</div>
{% endblock %}