{% extends "layout.html" %}
{% load static %}

{% block seo %}
 <title>
    Ronald and Maude Hartell Conservation Area | Clinton County, Missouri
 </title>
 <meta name="description" property="og:description" content="Discover the Ronald and Maude Hartell Conservation Area, a unique fishing spot with seven lakes, stream frontage, and high-quality fishing opportunities. Managed by the Missouri Department of Conservation, this area offers educational programs and accessible facilities for all visitors.">
 <meta name="keywords" content="Ronald and Maude Hartell Conservation Area, fishing, lakes, stream, Missouri Department of Conservation, educational programs, accessible facilities, Clinton County">
 <meta property="og:title" content="Ronald and Maude Hartell Conservation Area | Clinton County, Missouri">
 <meta property="og:type" content="website">
 <meta property="og:url" content="https://www.visitclintoncomo.com/things-to-do/ronald-and-maude-hartell-conservation-area/">
 <meta property="og:image" content="{% static 'img/home_page/pv_river_4x3.avif' %}">
 <meta property="og:image:width" content="200">
 <meta property="og:image:height" content="200">
 <meta property="og:site_name" content="Discover Clinton County, Missouri">
 <meta property="og:locale" content="en_US">
 <meta property="og:image:alt" content="Image alt example">
 <meta property="og:image:type" content="image/avif">
 <link rel="canonical" href="https://www.visitclintoncomo.com/things-to-do/ronald-and-maude-hartell-conservation-area/">
 <meta name="twitter:card" content="summary">
{% endblock %}

{% block skiplink %}
<a href="#ronald-and-maude-hartell-conservation-area-content" class="visually-hidden-focusable skip-link">Skip main navigation</a>
{% endblock skiplink %}

{% block content %}
<div id="ronald-and-maude-hartell-conservation-area-content" class="container-fluid py-5" style="background-color: #f3e7dc;">
    <div class="container mt-5">
        <div class="m-3">
            <h1 class="section-title my-3" keyword="Ronald and Maude Hartell Conservation Area">
                Ronald &amp; Maude Hartell Conservation Area
            </h1>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/hartell/hartell_1_4x3.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <p class="section-text" keywords="fishing, lakes, stream, Missouri Department of Conservation, educational programs, accessible facilities">
                    If you&apos;re looking for a unique fishing spot, try the Ronald and Maude Hartell Conservation Area, five miles 
                    northeast of Plattsburg on 280 Street just off Highway 33. Conceived as a private fishing club in 1947, the 111 
                    acre site now contains seven lakes and stream frontage on the Little Platte River. The Missouri Department of Conservation  
                    intensively manages the area with restrictive fishing regulations to provide high quality/trophy bass and bluegill 
                    fishing. MDC also uses the facility for educational programs for adults and children. It offers an outdoor classroom, 
                    three disabled-accessible parking lots, a disabled-accessible floating fishing dock and two disabled-accessible privies.
                </p>
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/hartell/hartell_0_4x3.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="d-none d-md-block col-md-6 order-first">
                <h2 class="section-subtitle">
                    Area Hours:
                </h2>
                <p class="section-subtitle">
                    Everyday:
                    04:00 AM - 10:00 PM<br><br>
                    <a href="https://mdc.mo.gov/discover-nature/places/ronald-maude-hartell-conservation-area" class="btn btn-lg btn-outline-success" target="_blank" rel="noopener noreferrer">Visit Hartell</a>
                </p>
            </div>
            <div class="d-block d-md-none col-12">
                <h2 class="section-subtitle">
                    Area Hours:
                </h2>
                <p class="section-subtitle">
                    Everyday:<br>
                    04:00 AM - 10:00 PM<br><br>
                    <a href="https://mdc.mo.gov/discover-nature/places/ronald-maude-hartell-conservation-area" class="btn btn-lg btn-outline-success" target="_blank" rel="noopener noreferrer">Visit Hartell</a>
                </p> 
            </div>
        </div>
    </div>  
</div>
{% endblock %}