{% extends "layout.html" %}
{% load static %}

{% block seo %}
 <title>
    TEMP TITLE | Clinton County, Missouri
 </title>
 <meta name="description" property="og:description" content="...">
 <meta name="keywords" content="...">
 <meta property="og:title" content="TEMP TITLE | Clinton County, Missouri">
 <meta property="og:type" content="website">
 <meta property="og:url" content="https://www.visitclintoncomo.com/things-to-do/thing_template/">
 <meta property="og:image" content="{% static 'icons/VCCM_Logo_Left.png' %}">
 <meta property="og:image:width" content="200">
 <meta property="og:image:height" content="200">
 <meta property="og:site_name" content="Discover Clinton County, Missouri">
 <meta property="og:locale" content="en_US">
 <meta property="og:image:alt" content="Visit Clinton County, Missouri logo">
 <meta property="og:image:type" content="image/png">
 <meta name="twitter:card" content="summary">
{% endblock %}

{% block skiplink %}
<a href="#temp-content" class="visually-hidden-focusable skip-link">Skip main navigation</a>
{% endblock skiplink %}

{% block content %}
<d id="temp-content" class="container-fluid p-0 m-0">
    <section class="hero mb-5">
        <img src="{% static 'img/temp_banner_3x1.avif' %}" class="img-fluid" alt="Background collage of images for the Clinton County Initiative.">
    </section>
    <div class="container">
        <div class="card-group d-none d-md-flex justify-content-center mb-3 business-card-group">
            <div class="card text-center mb-3 business-card border-0">
                <img src="{% static 'icons/wellness.png' %}" class="mx-auto business-icons rounded-circle p-3 text-primary" alt="..." style="color: #dc3545;">
                <div class="card-body">
                    <h5 class="card-title">
                        Title 1
                    </h5>
                    <p class="card-text">
                        Card 1 text
                    </p>
                    <p class="card-text">
                        <small class="text-body-secondary">
                            Temporary small text for card 1 that takes you to parargraph 1.
                        </small>
                    </p>
                    <a href="#paragraph-1" class="btn btn-danger">
                        more
                    </a>
                </div>
            </div>
            <div class="card text-center mb-3 business-card border-0">
                <img src="{% static 'icons/wellness.png' %}" class="mx-auto business-icons rounded-circle p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        Title 2
                    </h5>
                    <p class="card-text">
                        Card 2 text
                    </p>
                    <p class="card-text">
                        <small class="text-body-secondary">
                            Temporary small text for card 2 that takes you to parargraph 2.
                        </small>
                    </p>
                    <a href="#paragraph-2" class="btn btn-info">
                        more
                    </a>
                </div>
            </div>
            <div class="card text-center mb-3 business-card border-0">
                <img src="{% static 'icons/wellness.png' %}" class="mx-auto business-icons rounded-circle p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        Title 3
                    </h5>
                    <p class="card-text">
                        Card 3 text
                    </p>
                    <p class="card-text">
                        <small class="text-body-secondary">
                            Temporary small text for card 3 that takes you to parargraph 3.
                        </small>
                    </p>
                    <a href="#paragraph-3" class="btn btn-success">
                        more
                    </a>
                </div>
            </div>
            <div class="card text-center mb-3 business-card border-0">
                <img src="{% static 'icons/wellness.png' %}" class="mx-auto business-icons rounded-circle p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        Title 4
                    </h5>
                    <p class="card-text">
                        Card 4 text
                    </p>
                    <p class="card-text">
                        <small class="text-body-secondary">
                            Temporary small text for card 4 that takes you to parargraph 4.
                        </small>
                    </p>
                    <a href="#paragraph-4" class="btn btn-warning">
                        more
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="my-3">
            <h1 class="section-title my-3">
                Welcome to TEMPORARY BUSINESS NAME
            </h1>
            <h2 class="section-subtitle">
                TEMPORARY BUSINESS SUBTITLE
            </h2>
        </div>
        <div id="paragraph-1" class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/default_img_4x3.avif' %}" alt="..." class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <h2 class="section-subtitle my-3">
                    Paragraph 1 Title
                </h2>
                <p class="section-text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat consectetur, dolorum eius architecto autem corrupti cumque illum sint aspernatur iste enim! Nulla tempore libero et dignissimos exercitationem inventore dicta. Laborum.
                </p>
            </div>
        </div>
        <div id="paragraph-2" class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/default_img_4x3.avif' %}" alt="..." class="img-fluid rounded-3">
            </div>
            <div class="d-none d-md-block col-md-6 order-first">
                <h2 class="section-subtitle my-3">
                    Paragraph 2 Title
                </h2>
                <p class="section-text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat consectetur, dolorum eius architecto autem corrupti cumque illum sint aspernatur iste enim! Nulla tempore libero et dignissimos exercitationem inventore dicta. Laborum.
                </p>
            </div>
            <div class="d-block d-md-none col-12">
                <h2 class="section-subtitle my-3">
                    Paragraph 2 Title
                </h2>
                <p class="section-text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat consectetur, dolorum eius architecto autem corrupti cumque illum sint aspernatur iste enim! Nulla tempore libero et dignissimos exercitationem inventore dicta. Laborum.
                </p>
            </div>
        </div>
        <div id="paragraph-3" class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/default_img_4x3.avif' %}" alt="..." class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <h2 class="section-subtitle my-3">
                    Paragraph 3 Title
                </h2>
                <p class="section-text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat consectetur, dolorum eius architecto autem corrupti cumque illum sint aspernatur iste enim! Nulla tempore libero et dignissimos exercitationem inventore dicta. Laborum.
                </p>
            </div>
        </div>
        <div id="paragraph-4" class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/default_img_4x3.avif' %}" alt="..." class="img-fluid rounded-3">
            </div>
            <div class="d-none d-md-block col-md-6 order-first">
                <h2 class="section-subtitle my-3">
                    Visit us / Contact us
                </h2>
                <p class="section-text">
                    Hours:
                </p>
                <p class="section-text">
                    Phone:
                </p>
                <p class="section-text">
                    Address:
                </p>
                <p class="section-text">
                    Website:
                </p>
            </div>
            <div class="d-block d-md-none col-12">
                <h2 class="section-subtitle my-3">
                    Visit us / Contact us
                </h2>
                <p class="section-text">
                    Hours:
                </p>
                <p class="section-text">
                    Phone:
                </p>
                <p class="section-text">
                    Address:
                </p>
                <p class="section-text">
                    Website:
                </p>
            </div>
        </div>
    </div> 
</div>
{% endblock %}