{% extends "layout.html" %}
{% load static %}

{% block title %}Trice-Dedman Memorial Woods{% endblock %}

{% block content %}
<div class="container-fluid p-5" style="background-color: #f3e7dc;">
    <div class="container p-3 mt-5">
        <div class="m-3">
            <div class="section-title my-3">
                Trice-Dedman Memorial Woods
            </div>
        </div>

        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/trice_dedman/td_0_4x3.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <div class="section-subtitle">
                    Explore the Timeless Beauty of Clinton County
                </div>
                <p class="section-text">
                    Tucked between Lathrop and Plattsburg along Highway 116, the Trice-Dedman Memorial Woods 
                    offers a rare glimpse into Nature&apos;s past. This 60-acre sanctuary, maintained by the 
                    Nature Conservancy, is one of Clinton County&apos;s treasurers. It preserves one of the 
                    few remaining examples of upland oak woodlands that once covered much of northwest Missouri.
                </p>
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/trice_dedman/td_1_4x3.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="d-none d-md-block col-md-6 order-first">
                <div class="section-subtitle">
                    A Walk Through History
                </div>
                <p class="section-text">
                    Wander through old-growth white oak trees, some more than 180 years old, and marvel at the 
                    boulder-strewn hills and exposed limestone bedrock along the streams. Two hiking trails of 
                    low-to-moderate difficulty let you explore the quiet, untouched beauty of these woodlands. 
                    Admission is free, making it a perfect spot for a peaceful retreat.
                </p>
            </div>
            <div class="d-block d-md-none col-12">
                <div class="section-subtitle">
                    A Walk Through History
                </div>
                <p class="section-text">
                    Wander through old-growth white oak trees, some more than 180 years old, and marvel at the 
                    boulder-strewn hills and exposed limestone bedrock along the streams. Two hiking trails of 
                    low-to-moderate difficulty let you explore the quiet, untouched beauty of these woodlands. 
                    Admission is free, making it a perfect spot for a peaceful retreat.
                </p>
                
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/trice_dedman/td_2_4x3.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <div class="section-subtitle">
                    A Naturalist&apos;s Paradise
                </div>
                <p class="section-text">
                    With nearly 200 native plant species, the woods come alive with vibrant spring flowers like 
                    violets, trout lilies, and Dutchman&apos;s breeches. Lucky visitors might even spot rare 
                    species like orchids or dwarf larkspur. The woodland&apos;s timeless charm and diversity 
                    offer a haven for nature lovers, hikers, and photographers alike.
                </p>
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/trice_dedman/td_3_4x3.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="d-none d-md-block col-md-6 order-first">
                <div class="section-subtitle">
                    Know Before You Go
                </div>
                <p class="section-text">
                    For a safe and enjoyable experience, the Nature Conservancy recommends wearing long pants, 
                    hiking boots, and bringing essentials like water, insect repellent, and binoculars. In warmer 
                    months, light-colored, breathable clothing is advised. Please respect the natural environment 
                    by staying on marked trails and leaving no trace of your visit.
                </p>
            </div>
            <div class="d-block d-md-none col-12">
                <div class="section-subtitle">
                    Know Before You Go
                </div>
                <p class="section-text">
                    For a safe and enjoyable experience, the Nature Conservancy recommends wearing long pants, 
                    hiking boots, and bringing essentials like water, insect repellent, and binoculars. In warmer 
                    months, light-colored, breathable clothing is advised. Please respect the natural environment 
                    by staying on marked trails and leaving no trace of your visit.
                </p>
            </div>
        </div>
        <div class="section-subtitle py-4">
            Discover the rich natural heritage of Clinton County at Trice-Dedman Memorial Woods, where Missouri&apos;s woodland past still thrives.
            <a href="https://www.nature.org/en-us/get-involved/how-to-help/places-we-protect/trice-dedman-memorial-woods/" class="btn btn-primary">Visit Trice-Dedman Memorial</a>
        </div>
    </div>  
</div>
{% endblock %}