{% extends "layout.html" %}
{% load static %}

{% block title %}Wallace State Park{% endblock %}

{% block content %}
<div class="container-fluid p-5" style="background-color: #f3e7dc;">
    <div class="container p-3 mt-5">
        <div class="m-3">
            <div class="section-title my-3">
                Wallace State Park
            </div>
            <div class="section-subtitle">
                &quot;Nature&apos;s Hidden Gem in Clinton County&quot;
            </div>
        </div>
    
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/wallace_state_park/wallace_0_4x3.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <div class="section-subtitle">
                    Discover Wallace State Park
                </div>
                <p class="section-text">
                    Just a quick drive off Interstate 35, south of Cameron, lies one of Missouri&apos;s 
                    best-kept secrets: Wallace State Park, a tranquil 574-acre haven of wooded trails, 
                    serene meadows, and family-friendly campsites. Whether you&apos;re seeking a peaceful 
                    weekend getaway or just a few hours to reconnect with Nature, this park has something 
                    for everyone.
                </p>
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/wallace_state_park/wallace_2_4x3.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="d-none d-md-block col-md-6 order-first">
                <div class="section-subtitle">
                    Outdoor Adventure for All
                </div>
                <p class="section-text">
                    Pitch your tent at one of the drive-in campsites with options for basic or electric hookups 
                    and nearby modern restrooms and showers. For those craving solitude, walk-in sites provide a 
                    more secluded experience. Kids will love the playground, and families can gather in the shady 
                    picnic shelters, making Wallace an ideal spot for day trips or extended stays.
                </p>
            </div>
            <div class="d-block d-md-none col-12">
                <div class="section-subtitle">
                    Outdoor Adventure for All
                </div>
                <p class="section-text">
                    Pitch your tent at one of the drive-in campsites with options for basic or electric hookups 
                    and nearby modern restrooms and showers. For those craving solitude, walk-in sites provide a 
                    more secluded experience. Kids will love the playground, and families can gather in the shady 
                    picnic shelters, making Wallace an ideal spot for day trips or extended stays.
                </p>
                
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/wallace_state_park/wallace_3_4x3.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <div class="section-subtitle">
                    Fishing, Birding, and Hiking
                </div>
                <p class="section-text">
                    Lake Allaman and two charming farm ponds offer perfect spots to cast a line, and the 
                    park&apos;s 171 bird species—from red-tailed hawks to vibrant scarlet tanagers—make it a 
                    birder&apos;s paradise. Hikers can enjoy four scenic trails, each with its own unique 
                    character. Old Quarry, Rocky Ford or Skunk Hollow trails are about 1 mile each and vary 
                    in difficulty. The longer Deer Run trail stretches for 3 miles. Whichever you choose, 
                    benches along the way await to let you pause and savor the beauty of the woodland streams.
                </p>
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/wallace_state_park/wallace_4_4x3.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="d-none d-md-block col-md-6 order-first">
                <div class="section-subtitle">
                    Plan Your Escape
                </div>
                <p class="section-text">
                    Whether it&apos;s a family camping trip, a quiet day of fishing, or a birdwatching adventure, 
                    Wallace State Park offers a peaceful retreat for every visitor. Start planning your visit and
                    make camping reservations now by clicking the &quot;Visit Wallace&quot; link below or by calling
                    877-ICampMO. Printable campground maps are available for your reference by clicking on the 
                    &quot;Map&quot; links.
                </p>
            </div>
            <div class="d-block d-md-none col-12">
                <div class="section-subtitle">
                    Plan Your Escape
                </div>
                <p class="section-text">
                    Whether it&apos;s a family camping trip, a quiet day of fishing, or a birdwatching adventure, 
                    Wallace State Park offers a peaceful retreat for every visitor. Start planning your visit and
                    make camping reservations now by clicking the &quot;Visit Wallace&quot; link below or by calling
                    877-ICampMO. Printable campground maps are available for your reference by clicking on the 
                    &quot;Map&quot; links.
                </p>
            </div>
        </div>
        <div class="section-subtitle">
            Come discover the natural beauty of Clinton County at Wallace State Park, <br>where serenity awaits at every turn.

            <a href="https://mostateparks.com/park/wallace-state-park" class="btn btn-primary">Visit Wallace</a>
        </div>
    </div>
</div>
{% endblock %}