{% extends "layout.html" %}
{% load static %}

{% block title %}Abbey{% endblock %}

{% block content %}
<div class="xpage-container pb-5" style="background-color: #DAB28F;">
    <section class="hero mb-5">
        <img src="{% static 'img/cc_sign_bg_lg.avif' %}" class="img-fluid" alt="...">
    </section>
    <div class="container rounded-3 border border-dark shadow-lg p-3" style="background-color: #f3e7dc;">
        <div class="m-3">
            <div class="section-title my-3">
                Abbey of Benedictines of Mary, Queen of Apostles
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/abbey/IMGP9013.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <div class="section-subtitle">
                    Seek Spiritual Refuge
                </div>
                <p class="section-text">
                    Discover a unique place of spiritual harmony at the Abbey of the Benedictines of Mary, Queen of Apostles 
                    near Gower, Missouri. Nestled among peaceful farms and woodlands, the Abbey offers visitors a rare blend 
                    of faith, serenity, and marvel. Attend Mass and stroll the beautiful grounds where the sisters live a life 
                    devoted to prayer, work, and extraordinary music.
                </p>
            </div>
        </div>
            <div class="row align-items-center py-4">
                <div class="col-12 col-md-6">
                    <img src="{% static 'img/abbey/SWmemcardfront.avif' %}" alt="" class="img-fluid rounded-3">
                </div>
                <div class="d-none d-md-block col-md-6 order-first">
                    <div class="section-subtitle">
                        Music &amp; Miracles
                    </div>
                    <p class="section-text">
                        If you visit during Mass, you may hear the sisters&apos; renowned liturgical choir, which earned 
                        Billboard&apos;s Classical Traditional Artists awards in 2012 and 2013 for their beautiful albums. The 
                        Abbey gained further attention in 2023 when the body of its founder, Sister Wilhelmina, was found intact 
                        after four years in the grave&mdash;a phenomenon some call miraculous. That summer, over 15,000 pilgrims 
                        visited the Abbey, drawn by faith, hope, and the search for grace.
                    </p>
                </div>
                <div class="d-block d-md-none col-12">
                    <div class="section-subtitle">
                        Music &amp; Miracles
                    </div>
                    <p class="section-text">
                        If you visit during Mass, you may hear the sisters&apos; renowned liturgical choir, which earned 
                        Billboard&apos;s Classical Traditional Artists awards in 2012 and 2013 for their beautiful albums. The 
                        Abbey gained further attention in 2023 when the body of its founder, Sister Wilhelmina, was found intact 
                        after four years in the grave&mdash;a phenomenon some call miraculous. That summer, over 15,000 pilgrims 
                        visited the Abbey, drawn by faith, hope, and the search for grace.
                    </p> 
                </div>
            </div>
            <div class="row align-items-center py-4">
                <div class="col-12 col-md-6">
                    <img src="{% static 'img/abbey/IMGP7144.avif' %}" alt="" class="img-fluid rounded-3">
                </div>
                <div class="col-12 col-md-6">
                    <div class="section-subtitle">
                        Join Us at the Abbey
                    </div>
                    <p class="section-text">
                        Visitors are welcome to view the body of Sister Wilhelmina and experience the peace of the Abbey. For more 
                        information and Mass times, please visit the <a href="https://benedictinesofmary.org/schedule/">Abbey&apos;s website</a>. Out of respect, the sisters kindly 
                        request that visitors wear modest attire and honor private areas of the grounds.
                    </p>
                </div>
            </div>
        </div>
    </div>  
</div>
{% endblock %}