{% extends "layout.html" %}
{% load static %}

{% block seo %}
 <title>
    Who We Are | Clinton County, Missouri
 </title>
 <meta name="description" property="og:description" content="Discover the rich history and vibrant community of Clinton County, Missouri. Learn about our agricultural heritage, cultural landmarks, and unique local traditions.">
 <meta name="keywords" content="Clinton County, Missouri, history, community, agriculture, cultural landmarks, local traditions, pioneers, farming, Cameron, Gower, Lathrop, Plattsburg, Osborn, Turney, Trimble, rural, Kansas City, St. Joseph, mom and pop businesses, church congregations, town festivals, Fourth of July, Juneteenth, farm tours, quilt shows, beef cattle, mule farms, World War I, Paradise Locker Meats, Campo Lindo Farms, Shatto Milk Company, David Rice Atchison, president for a day, Methodist college, Chautauqua assemblies, J. Breckenridge Ellis, Clinton County Historical Society Museum, railroads, Santa Fe Railway, Chicago Burlington and Quincy Railroad, Rock Island Line, Hannibal and St. Joseph Railroad, Depot Museum, Jefferson Highway, Palms to Pines Highway, murals">
 <meta property="og:title" content="Who We Are | Clinton County, Missouri">
 <meta property="og:type" content="website">
 <meta property="og:url" content="https://www.visitclintoncomo.com/about/">
 <meta property="og:image" content="{% static 'img/home_page/pv_river_4x3.avif' %}">
 <meta property="og:image:width" content="200">
 <meta property="og:image:height" content="200">
 <meta property="og:site_name" content="Discover Clinton County, Missouri">
 <meta property="og:locale" content="en_US">
 <meta property="og:image:alt" content="Image alt example">
 <meta property="og:image:type" content="image/avif">
 <meta name="twitter:card" content="summary">
{% endblock %}

{% block content %}
<div class="container-fluid p-0 m-0" style="background-color: #f3e7dc;">
    <section class="hero mb-5">
        <img src="{% static 'img/who_we_are_bg_3x1.avif' %}" class="img-fluid" alt="Background collage of images for the Clinton County Initiative.">
    </section>
    <div class="container">
        <div class="m-3">
            <h1 class="section-title my-3">
                Who We Are
            </h1>
            <h2 class="section-subtitle">
                Clinton County has always gone its own way.
            </h2>
            <p class="section-text">
                In the 1830s, many American pioneers from the East were venturing westward, looking for a brighter future. From 
                Kansas City and Independence they joined the Santa Fe and the Oregon Trails and headed to the Pacific coast. But more 
                than a few discerning migrating farm families found Clinton County and wondered: Why trek 1,000 miles more?
            </p>
        </div>

        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/about/wwa_0_3x2.avif' %}" alt="Group of tourists on a cattle tour." class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <p class="section-text">
                    Our rolling hills offered the good soils and waters they sought. We were closer to the eastern states they knew 
                    well. And they understood the type of farming they could do here. So they put down roots. Tradesmen came, too, and 
                    the towns they established became Cameron, Gower, Lathrop and Plattsburg. Villages like Osborn, Turney and Trimble 
                    also sprouted to serve the farming community.
                </p>
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/about/wwa_1_3x2.avif' %}" alt="Local patrons enjoying a quilt show." class="img-fluid rounded-3">
            </div>
            <div class="d-none d-md-block col-md-6 order-first">
                <p class="section-text">
                    Today, Clinton County remains resolutely rural, even in the shadow of metropolitan Kansas City and St. Joseph. Our 
                    hills still hum with agriculture, and our right-sized towns still are welcoming. We&apos;re home to mom and pop 
                    businesses &lpar;Where else can you buy goat soap made on a nearby farm?&rpar;. We treasure out close knit church 
                    congregations and proud country traditions. We hold retro town festivals complete with frog jumping contests and 
                    homemade crafts. Our diverse community celebrates both the Fourth of July and Juneteenth. And we still do old fashioned 
                    events like farm tours and quilt shows.
                </p>
                <p class="section-text">
                    Clinton County is modern in every way. But your visit here will be a nostalgic trip to the past.<br>Welcome!
                </p>
            </div>
            <div class="d-block d-md-none col-12">
                <p class="section-text">
                    Today, Clinton County remains resolutely rural, even in the shadow of metropolitan Kansas City and St. Joseph. Our 
                    hills still hum with agriculture, and our right-sized towns still are welcoming. We&apos;re home to mom and pop 
                    businesses &lpar;Where else can you buy goat soap made on a nearby farm?&rpar;. We treasure out close knit church 
                    congregations and proud country traditions. We hold retro town festivals complete with frog jumping contests and 
                    homemade crafts. Our diverse community celebrates both the Fourth of July and Juneteenth. And we still do old fashioned 
                    events like farm tours and quilt shows.
                </p>
                <p class="section-text">
                    Clinton County is modern in every way. But your visit here will be a nostalgic trip to the past.<br>Welcome!
                </p>
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/about/wwa_2_3x2.avif' %}" alt="Closeup of a single large cow." class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <h2 class="section-subtitle">
                    Agriculture
                </h2>
                <p class="section-text">
                    Clinton County was&mdash;and still is&mdash;ideal for animal agriculture. Our hogs, sheep, goats and chickens were hot 
                    items then and now. As one hatchery&apos;s advertisement from the 1930s boasted, &quot;Our chicks live, lay and pay.&quot;
                    But it was beef cattle that made Clinton County famous. Our county once was known as &quot;The Beef Capitol of Missouri&quot;. 
                    And that&apos;s saying something because at the time, Missouri was second only to Texas for the number of beef cattle it raised.
                </p>
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/about/wwa_3_1x15.avif' %}" alt="Three mules eating grass in a field." class="img-fluid rounded-3 mx-auto d-block">
            </div>
            <div class="d-none d-md-block col-md-6 order-first">
                <p class="section-text">
                    Just as famous in their era were the mule farms in Lathrop. During World War I, when mules in harness were still the 
                    preferred means of locomotion for army supply wagons and heavy artillery, Lathrop proudly called itself &quot;The Mule 
                    Capitol of the World.&quot; Thousands of Lathrop mules served both the American and British armies.
                </p>
            </div>
            <div class="d-block d-md-none col-12">
                <p class="section-text">
                    Just as famous in their era were the mule farms in Lathrop. During World War I, when mules in harness were still the 
                    preferred means of locomotion for army supply wagons and heavy artillery, Lathrop proudly called itself &quot;The Mule 
                    Capitol of the World.&quot; Thousands of Lathrop mules served both the American and British armies.
                </p>
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/about/wwa_4_3x1.avif' %}" alt="Tractor plowing a field." class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <p class="section-text">
                    Most of the mules have gone now. But herds of beef cattle still graze the hills of Clinton County. Family farms large 
                    and small grow crops and raise livestock here. Paradise Locker Meats in Trimble supplies locally sourced beef to 
                    consumers and top end restaurants in Kansas City. Chickens and eggs from Campo Lindo Farms in Lathrop grace the menus 
                    of many of those same swanky eateries. And dairy products from the Shatto Milk Company appear in supermarkets throughout 
                    the region. &lpar;Plus, they give tours!&rpar;
                </p>
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/about/wwa_5_1x2.avif' %}" alt="Statue of David Rice Atchison." class="img-fluid rounded-3 mx-auto d-block">
            </div>
            <div class="d-none d-md-block col-md-6 order-first">
                <h2 class="section-subtitle">
                    President for a day
                </h2>
                <p class="section-text">
                    Beyond agriculture, Clinton County&apos;s history is full of extraordinary people and events. Top of the list is 
                    Plattsburg&apos;s David Rice Atchison who, local lore says, became president of the United States for one day on Sunday, 
                    March 4, 1849. Atchison happened to be president pro tempore of the U.S. Senate on that day and therefore second in line 
                    to the president, according to the rules of succession then. The terms of President James K. Polk and Vice President 
                    George Dallas expired at noon on March 4, and the religious president-elect Zachary Taylor declined to take the oath of 
                    office on the Christian Sabbath. According to some, that made Atchison acting president for 24 hours until Taylor took 
                    the oath at noon on Monday, March 5. Scholars dispute that claim, saying there simply was no president during the gap. 
                    But we Clinton Countians think differently. You can see a statue of Atchison in front of the county courthouse in 
                    Plattsburg, and you can visit his grave in the town&apos;s Greenlawn Cemetery.
                </p>
            </div>
            <div class="d-block d-md-none col-12">
                <h2 class="section-subtitle">
                    President for a day
                </h2>
                <p class="section-text">
                    Beyond agriculture, Clinton County&apos;s history is full of extraordinary people and events. Top of the list is 
                    Plattsburg&apos;s David Rice Atchison who, local lore says, became president of the United States for one day on Sunday, 
                    March 4, 1849. Atchison happened to be president pro tempore of the U.S. Senate on that day and therefore second in line 
                    to the president, according to the rules of succession then. The terms of President James K. Polk and Vice President 
                    George Dallas expired at noon on March 4, and the religious president-elect Zachary Taylor declined to take the oath of 
                    office on the Christian Sabbath. According to some, that made Atchison acting president for 24 hours until Taylor took 
                    the oath at noon on Monday, March 5. Scholars dispute that claim, saying there simply was no president during the gap. 
                    But we Clinton Countians think differently. You can see a statue of Atchison in front of the county courthouse in 
                    Plattsburg, and you can visit his grave in the town&apos;s Greenlawn Cemetery.
                </p>
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/about/wwa_6_3x2.avif' %}" alt="Mural on the side of a building depicting a large tree, field, and house. The mural is located in a mini-park in Plattsburg." class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <h2 class="section-subtitle">
                    Culture and Arts
                </h2>
                <p class="section-text">
                    Plattsburg was home to a Methodist college in the early 1900s and proudly hosted Chautauqua assemblies. Chautauqua was a 
                    nationwide phenomenon whose mission was to bring entertainment and culture to rural areas. Plattsburg&apos;s fair-like 
                    assemblies featured speakers, musicians, showmen and preachers under tents.
                </p>
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/about/wwa_7_3x2.avif' %}" alt="Items owned by J. Breckenridge Ellis on a desk. These items include a newspaper, glasses, movie script, pen, glass ashtrays, and glass containers." class="img-fluid rounded-3">
            </div>
            <div class="d-none d-md-block col-md-6 order-first">
                <p class="section-text">
                    At around the same time, renowned author J. Breckenridge Ellis of Plattsburg wrote historical romances, stage plays and 
                    movie scripts. His novel Fran made America&apos;s best seller list. He was hot stuff! And you can learn more about him 
                    at the Clinton County Historical Society Museum in Plattsburg.
                </p>
                <p class="section-text">
                    Today, we carry on the county&apos;s Chautauqua heritage with marching bands, band concerts, museums, live music, art shows and public art. 
                </p>
            </div>
            <div class="d-block d-md-none col-12">
                <p class="section-text">
                    At around the same time, renowned author J. Breckenridge Ellis of Plattsburg wrote historical romances, stage plays and 
                    movie scripts. His novel Fran made America&apos;s best seller list. He was hot stuff! And you can learn more about him 
                    at the Clinton County Historical Society Museum in Plattsburg.
                </p>
                <p class="section-text">
                    Today, we carry on the county&apos;s Chautauqua heritage with marching bands, band concerts, museums, live music, art shows and public art. 
                </p>
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/about/wwa_8_3x2.avif' %}" alt="Old photograph of railroad workers at the Cameron Depot Museum." class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <h2 class="section-subtitle">
                    Railroads
                </h2>
                <p class="section-text">
                    Railroads shaped the county&apos;s history. Beginning in the 1860s, Clinton Countians could hop a train to Kansas City 
                    or St. Joseph. The Santa Fe Railway once connected our county to the outside world as did the Chicago, Burlington and 
                    Quincy Railroad, the Rock Island Line and the Hannibal and St. Joseph Railroad. County businesses prospered because 
                    railroads brought merchandise and customers. Today, Cameron celebrates our railroad history with its unique Depot 
                    Museum. Another depot in Plattsburg is ripe for renovation.
                </p>
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/about/wwa_9_3x2.avif' %}" alt="Photograph of 4 women dressed as flapper girl costumes in front of an early 1900s vehicle." class="img-fluid rounded-3">
            </div>
            <div class="d-none d-md-block col-md-6 order-first">
                <h2 class="section-subtitle">
                    Jefferson Highway
                </h2>
                <p class="section-text">
                    In the 1910s, Clinton County found itself in the middle of a new automobile route called the Jefferson Highway, which 
                    ran from New Orleans, Louisiana to Winnipeg, Manitoba in Canada. The highway was federally sponsored but locally built. 
                    It was nicknamed the &quot;Palms to Pines Highway&quot; and routed travelers through our county. Today, you can see a 
                    splendid mural in Plattsburg that celebrates the Jefferson Highway. Signs commemorating the highway appear in Cameron 
                    and Plattsburg where the pavement once ran.
                </p>
            </div>
            <div class="d-block d-md-none col-12">
                <h2 class="section-subtitle">
                    Jefferson Highway
                </h2>
                <p class="section-text">
                    In the 1910s, Clinton County found itself in the middle of a new automobile route called the Jefferson Highway, which 
                    ran from New Orleans, Louisiana to Winnipeg, Manitoba in Canada. The highway was federally sponsored but locally built. 
                    It was nicknamed the &quot;Palms to Pines Highway&quot; and routed travelers through our county. Today, you can see a 
                    splendid mural in Plattsburg that celebrates the Jefferson Highway. Signs commemorating the highway appear in Cameron 
                    and Plattsburg where the pavement once ran.
                </p>
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/about/wwa_10_4x3.avif' %}" alt="Mural of Jefferson Highway on the side of a building in Plattsburg." class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6 text-center">
                <h2 class="section-subtitle">
                    More History
                </h2>
                <p class="section-text">
                    To see more Clinton County History, visit the: 
                    <a href="{% url 'things:thing_detail' 'clinton-county-historical-society-museum' %}" class="btn btn-lg btn-outline-success my-2" target="_self">Clinton County Historical Society Museum</a><br>
                    <a href="{% url 'things:thing_detail' 'cameron-historical-society-and-depot-museum' %}" class="btn btn-lg btn-outline-success" target="_self">Cameron Depot Museum</a>
                </p>
            </div>
        </div>
    </div>  
</div>
{% endblock %}