{% extends "layout.html" %}
{% load static %}

{% block title %}BigFoote Outfitters{% endblock %}

{% block content %}
<div class="xpage-container pb-5" style="background-color: #DAB28F;">
    <section class="hero mb-5">
        <img src="{% static 'img/cc_sign_bg_lg.avif' %}" class="img-fluid" alt="...">
    </section>
    <div class="container rounded-3 border border-dark shadow-lg p-3" style="background-color: #f3e7dc;">
        <div class="section-title my-3">
            BigFoote Outfitters
        </div>
        <div class="section-subtitle">
            WAITING ON THE DETAILS
        </div>
        
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/default_img.jpg' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <div class="section-subtitle">
                    Section Title
                </div>
                <p class="section-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, blanditiis odio delectus autem beatae totam sint ex culpa, natus voluptatem, repellat dolorum? Provident corrupti quisquam mollitia enim quae obcaecati nihil.
                </p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/default_img.jpg' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="d-none d-md-block col-md-6 py-4 order-first">
                <div class="section-subtitle">
                    Section Title
                </div>
                <p class="section-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem labore facilis consectetur, dignissimos iste quidem impedit quia sed delectus dolorem nostrum iusto voluptas. Dolores, est. Modi maiores repellat nam distinctio.
                </p>
            </div>
            <div class="d-block d-md-none col-12 py-4">
                <div class="section-subtitle">
                    Section Title
                </div>
                <p class="section-text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae minus optio cumque iusto, consectetur corrupti consequuntur est facere aspernatur, nobis expedita, accusantium dignissimos recusandae fuga deleniti iure voluptatibus perspiciatis dolores.
                </p> 
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/default_img.jpg' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6 py-4">
                <div class="section-subtitle">
                    Section Title
                </div>
                <p class="section-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut optio esse excepturi magni in, cupiditate ea quod iste quas? Voluptatibus debitis necessitatibus vel aut? Voluptatum maxime laboriosam quidem in. Ullam?
                </p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/default_img.jpg' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="d-none d-md-block col-md-6 py-4 order-first">
                <div class="section-subtitle">
                    Section Title
                </div>
                <p class="section-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore officiis nemo minus, deleniti incidunt perspiciatis veritatis aliquam. Dolorum voluptas totam, numquam quisquam odio repudiandae suscipit veniam? Tenetur ut vitae consectetur?
                </p>
            </div>
            <div class="d-block d-md-none col-12 py-4">
                <div class="section-subtitle">
                    Section Title
                </div>
                <p class="section-text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore porro animi excepturi omnis provident beatae laborum eum quod asperiores recusandae. Earum necessitatibus, praesentium magnam mollitia doloribus quia laboriosam natus ipsum!
                </p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/default_img.jpg' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6 py-4">
                <div class="section-subtitle">
                    Section Title
                </div>
                <p class="section-text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore consectetur quam similique nesciunt ipsum laudantium atque incidunt praesentium. Qui voluptas asperiores deserunt esse suscipit minima perferendis a animi vitae deleniti?
                </p>
            </div>
        </div>
    </div>  
</div>
{% endblock %}