{% extends "layout.html" %}
{% load static %}

{% block title %}Cameron Depot Museum{% endblock %}

{% block content %}
<div class="xpage-container pb-5" style="background-color: #DAB28F;">
    <section class="hero mb-5">
        <img src="{% static 'img/cc_sign_bg_lg.avif' %}" class="img-fluid" alt="...">
    </section>
    <div class="container rounded-3 border border-dark shadow-lg p-3" style="background-color: #f3e7dc;">
        <div class="section-title my-3">
            Discover the Cameron Depot Museum
        </div>
        
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/2443023_1_orig_copy.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <div class="section-subtitle">
                    From Depot to Museum
                </div>
                <p class="section-text">
                    Step into Cameron&apos;s rich railroad past at the Cameron Depot Museum, located at 202 N. Walnut. This 
                    former Chicago, Burlington, and Quincy Railroad depot, lovingly converted by the Cameron Historical Society, 
                    showcases artifacts and memorabilia that tell the story of the town&apos;s connection to the railroads and 
                    the iconic Jefferson Highway. It&apos;s a must-visit for fans of railroads, rural history and fascinating 
                    artifacts from the past.
                </p>
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/cameron_historical_society/Cameron_0146.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="d-none d-md-block col-md-6 order-first">
                <div class="section-subtitle">
                    Free Entry, Priceless History
                </div>
                <p class="section-text">
                    Admission is free, though donations are appreciated. For those interested in more railway history, visit the 
                    old Rock Island Line depot, now home to Iron Horse Primitives antique store at 207 W 3rd St.
                </p>
            </div>
            <div class="d-block d-md-none col-12">
                <div class="section-subtitle">
                    Free Entry, Priceless History
                </div>
                <p class="section-text">
                    Admission is free, though donations are appreciated. For those interested in more railway history, visit the 
                    old Rock Island Line depot, now home to Iron Horse Primitives antique store at 207 W 3rd St.
                </p> 
            </div>
        </div>
        <div class="m-3">
            <div class="section-subtitle">
                For museum hours or to schedule a private tour, email the historical society or call 816-632-0429 or 816-284-0645.
                <a href="https://cameronhistory.com/depot-museum-2024-season.html" class="btn btn-primary">Learn More</a>
            </div>
        </div>
        <div class="row text-center text-lg-start align-items-center">
            <div class="col-lg-3 col-md-4 col-10 mx-auto my-1 rounded-3">
                <img class="img-fluid rounded-3" src="{% static 'img/cameron_historical_society/Cameron_0153.avif' %}" alt="">
            </div>
            <div class="col-lg-6 col-md-4 d-none d-md-block">
                <div class="section-title">
                    Cameron Depot Museum
                </div>
                <div class="section-title">
                    Photo Gallery
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-10 mx-auto my-1">
                <img class="img-fluid rounded-3" src="{% static 'img/cameron_historical_society/Cameron_0170.avif' %}" alt="">
            </div>
            <div class="col-lg-3 col-md-4 col-10 mx-auto my-1">
                <img class="img-fluid rounded-3" src="{% static 'img/cameron_historical_society/Cameron_0145.avif' %}" alt="">
            </div>
            <div class="col-lg-3 col-md-4 col-10 mx-auto my-1">
                <img class="img-fluid rounded-3" src="{% static 'img/cameron_historical_society/Cameron_324643_1.avif' %}" alt="">
            </div>
            <div class="col-lg-3 col-md-4 col-10 mx-auto my-1">
                <img class="img-fluid rounded-3" src="{% static 'img/cameron_historical_society/Cameron_0149.avif' %}" alt="">
            </div>
            <div class="col-lg-3 col-md-4 col-10 mx-auto my-1">
                <img class="img-fluid rounded-3" src="{% static 'img/cameron_historical_society/Cameron_0150.avif' %}" alt="">
            </div>
            <div class="col-lg-3 col-md-4 col-10 mx-auto my-1">
                <img class="img-fluid rounded-3" src="{% static 'img/cameron_historical_society/Cameron_0162.avif' %}" alt="">
            </div>
            <div class="col-lg-3 col-md-4 col-10 mx-auto my-1">
                <img class="img-fluid rounded-3" src="{% static 'img/cameron_historical_society/Cameron_0163.avif' %}" alt="">
            </div>
            <div class="col-lg-3 col-md-4 col-10 mx-auto my-1">
                <img class="img-fluid rounded-3" src="{% static 'img/cameron_historical_society/Cameron_0180.avif' %}" alt="">
            </div>
            <div class="col-lg-3 col-md-4 col-10 mx-auto my-1">
                <img class="img-fluid rounded-3" src="{% static 'img/cameron_historical_society/Cameron_0184.avif' %}" alt="">
            </div>
            <div class="col-lg-3 col-md-4 col-10 mx-auto my-1">
                <img class="img-fluid rounded-3" src="{% static 'img/cameron_historical_society/Cameron_0187.avif' %}" alt="">
            </div>
        </div>
    </div>  
</div>
{% endblock %}