{% extends "layout.html" %}
{% load static %}

{% block title %}Cameron Depot Museum{% endblock %}

{% block content %}
<div id="main-content" class="xpage-container py-4" style="background-color: #DAB28F;">
    <section class="hero mb-4">
        <img src="{% static 'img/cc_sign_bg_lg.avif' %}" class="img-fluid d-block" alt="...">
        <div class="z-3 position-absolute text-light text-center"></div>
    </section>
    <div class="container rounded-3" style="background-color: #f3e7dc;">
        <div class="fs-2 text-center py-3">
            Discover the Cameron Depot Museum
        </div>
        <div class="container p-4 fs-6 text-center">
            <div class="row align-items-center pe-2">
                <div class="col-12 col-md-6">
                    <img src="{% static 'img/cameron_historical_society/Cameron_0184.avif' %}" alt="" class="img-fluid rounded">
                </div>
                <div class="col-12 col-md-6">
                    <div class="fs-3 pb-3">
                        From Depot to Museum
                    </div>
                    <p>
                        Step into Cameron&apos;s rich railroad past at the Cameron Depot Museum, located at 202 N. Walnut. This 
                        former Chicago, Burlington, and Quincy Railroad depot, lovingly converted by the Cameron Historical Society, 
                        showcases artifacts and memorabilia that tell the story of the town&apos;s connection to the railroads and 
                        the iconic Jefferson Highway. It&apos;s a must-visit for fans of railroads, rural history and fascinating 
                        artifacts from the past.
                    </p>
                </div>
            </div>
            <div class="row align-items-center pe-2">
                <div class="col-12 col-md-6">
                    <img src="{% static 'img/2443023_1_orig_copy.avif' %}" alt="" class="img-fluid rounded">
                </div>
                <div class="d-none d-md-block col-md-6 py-4 order-first">
                    <div class="fs-3 pb-3">
                        Free Entry, Priceless History
                    </div>
                    <p>
                        Admission is free, though donations are appreciated. For those interested in more railway history, visit the 
                        old Rock Island Line depot, now home to Iron Horse Primitives antique store at 207 W 3rd St.
                    </p>
                </div>
                <div class="d-block d-md-none col-12 py-4">
                    <div class="fs-3 pb-3">
                        Free Entry, Priceless History
                    </div>
                    <p>
                        Admission is free, though donations are appreciated. For those interested in more railway history, visit the 
                        old Rock Island Line depot, now home to Iron Horse Primitives antique store at 207 W 3rd St.
                    </p> 
                </div>
            </div>
            <div class="fs-5 p-3">
                For museum hours or to schedule a private tour, email the historical society or call 816-632-0429 or 816-284-0645.
                <a href="https://cameronhistory.com/depot-museum-2024-season.html" class="btn btn-primary">Learn More</a>
            </div>
            
            
        </div>
    </div>  
</div>
{% endblock %}