{% extends "layout.html" %}
{% load static %}

{% block title %}Culture{% endblock %}

{% block content %}
<div class="xpage-container">
    <section class="hero mb-5">
        <img src="{% static 'img/bg_up.avif' %}" class="img-fluid" alt="...">
    </section>
    <div class="container">
        <div class="row mb-3">
            <div class="col mx-auto">
                <div class="section-title">
                    Discover the Artistry, Culture, &amp; Melodies of Clinton County
                </div>
                <div class="section-text">
                    Experience the vibrant music scene and lively dance events in our charming small towns. Immerse yourself in 
                    the captivating public art that decorates our streets. Visit the Abbey of Benedictines of Mary, Queen of Apostles, 
                    and explore its serene beauty and rich history. Come experience the sights and sounds of Clinton County for yourself.
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 p-5">
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'img/abbey/abbey_0_4x3.avif' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="fs-5 card-title fw-bold">Abbey of Benedictines of Mary, Queen of Apostles</p>
                        <p class="card-text">ENTER BRIEF DESCRIPTION DETAILS HERE...</p>
                        <span>
                            <p class="fw-bold">Address: </p>
                            <p class="card-text">8005 NW 316th St.</p>
                        </span>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'abbey' %}" class="btn btn-primary stretched-link">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'img/art/art_0_4x3.avif' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="fs-5 card-title fw-bold">Public Art</p>
                        <p class="card-text">ENTER BRIEF DESCRIPTION DETAILS HERE...</p>
                        <span>
                            <p class="fw-bold">Address: </p>
                            <p class="card-text">ENTER ADDRESS HERE...</p>
                        </span>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'arts' %}" class="btn btn-primary stretched-link">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'img/music/music_0_4x3.avif' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="fs-5 card-title fw-bold">Music</p>
                        <p class="card-text">ENTER BRIEF DESCRIPTION DETAILS HERE...</p>
                        <span>
                            <p class="fw-bold">Address: </p>
                            <p class="card-text">ENTER ADDRESS HERE...</p>
                        </span>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'music' %}" class="btn btn-primary stretched-link">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}