{% extends "layout.html" %}
{% load static %}

{% block title %}Events{% endblock %}

{% block content %}
<div class="xpage-container">
    <section class="hero mb-5">
        <img src="{% static 'img/bg_up.avif' %}" class="img-fluid" alt="...">
    </section>
    <div class="container">
        <div class="row mb-3">
            <div class="col mx-auto">
                <div class="section-title">
                    Clintion County Events
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4 p-5">
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'img/car_show/car_show_3_3x2.avif' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="fs-5 card-title fw-bold">Car Shows</p>
                        <p class="card-text">ENTER BRIEF DESCRIPTION DETAILS HERE...</p>
                        <span>
                            <p class="fw-bold">Address: </p>
                            <p class="card-text">ENTER ADDRESS HERE...</p>
                        </span>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'car_show' %}" class="btn btn-primary stretched-link">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'img/christmas/christmas_2_3x2.avif' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="fs-5 card-title fw-bold">Christmas in Clinton County</p>
                        <p class="card-text">ENTER BRIEF DESCRIPTION DETAILS HERE...</p>
                        <span>
                            <p class="fw-bold">Address: </p>
                            <p class="card-text">ENTER ADDRESS HERE...</p>
                        </span>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'christmas' %}" class="btn btn-primary stretched-link">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'img/county_fair/fair_0_3x2.avif' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="fs-5 card-title fw-bold">Clinton County Fair</p>
                        <p class="card-text">ENTER BRIEF DESCRIPTION DETAILS HERE...</p>
                        <span>
                            <p class="fw-bold">Address: </p>
                            <p class="card-text">ENTER ADDRESS HERE...</p>
                        </span>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'fair' %}" class="btn btn-primary stretched-link">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'img/default_img.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="fs-5 card-title fw-bold">Juneteenth</p>
                        <p class="card-text">ENTER BRIEF DESCRIPTION DETAILS HERE...</p>
                        <span>
                            <p class="fw-bold">Address: </p>
                            <p class="card-text">ENTER ADDRESS HERE...</p>
                        </span>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'juneteenth' %}" class="btn btn-primary stretched-link">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'img/lathrop_antique_show/antique_show_0_4x3.avif' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="fs-5 card-title fw-bold">Lathrop Antique Show</p>
                        <p class="card-text">ENTER BRIEF DESCRIPTION DETAILS HERE...</p>
                        <span>
                            <p class="fw-bold">Address: </p>
                            <p class="card-text">ENTER ADDRESS HERE...</p>
                        </span>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'antique_show' %}" class="btn btn-primary stretched-link">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'img/living_history/living_history_3_4x3.avif' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="fs-5 card-title fw-bold">Lathrop Living History Festival</p>
                        <p class="card-text">ENTER BRIEF DESCRIPTION DETAILS HERE...</p>
                        <span>
                            <p class="fw-bold">Address: </p>
                            <p class="card-text">ENTER ADDRESS HERE...</p>
                        </span>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'lathrop_festival' %}" class="btn btn-primary stretched-link">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'img/main_st/wine_stroll_3_4x3.avif' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="fs-5 card-title fw-bold">Main Street Wine Stroll</p>
                        <p class="card-text">ENTER BRIEF DESCRIPTION DETAILS HERE...</p>
                        <span>
                            <p class="fw-bold">Address: </p>
                            <p class="card-text">ENTER ADDRESS HERE...</p>
                        </span>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'main_st' %}" class="btn btn-primary stretched-link">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'img/default_img.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="fs-5 card-title fw-bold">Oak Street Market</p>
                        <p class="card-text">ENTER BRIEF DESCRIPTION DETAILS HERE...</p>
                        <span>
                            <p class="fw-bold">Address: </p>
                            <p class="card-text">ENTER ADDRESS HERE...</p>
                        </span>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'oak_st' %}" class="btn btn-primary stretched-link">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}