{% extends "layout.html" %}
{% load static %}

{% block title %}Family Fun{% endblock %}

{% block content %}
<div class="xpage-container">
    <section class="hero mb-5">
        <img src="{% static 'img/bg_up.avif' %}" class="img-fluid" alt="...">
    </section>
    <div class="container">
        <div class="row mb-3">
            <div class="col mx-auto">
                <div class="section-title">
                    Clinton County has something for everyone!
                </div>
                <div class="section-text">
                    Besides our wealth of outdoor adventures, we also offer a unique opportunity to tour a working family dairy farm. 
                    Golfers will love our golf courses&mdash;country style. Don&apos;t forget to check out our local parks and public pools.
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4 p-5">
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'img/shatto/shatto_0_4x3.avif' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="fs-5 card-title fw-bold">Shatto Milk Company</p>
                        <p class="card-text">a small family-owned and operated dairy farm located just north of the Kansas City metropolitan area.</p>
                        <span>
                            <p class="fw-bold">Address: </p>
                            <p class="card-text">9406 N. HWY. 33 Osborn, MO 64474</p>
                        </span>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'shatto_milk' %}" class="btn btn-primary stretched-link">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'img/golf/golf_0_4x3.avif' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="fs-5 card-title fw-bold">Golf Courses</p>
                        <p class="card-text">Our public golf courses have a unique country flair.</p>
                        <span>
                            <p class="fw-bold">Address: </p>
                            <p class="card-text">Cameron Golf Course: 1000 Park Ave, Cameron, MO</p>
                            <p class="card-text">Plattsburg Country Club: 804 W Frost St, Plattsburg, MO</p>
                        </span>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'golf' %}" class="btn btn-primary stretched-link">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}