{% extends "layout.html" %}
{% load static %}

{% block title %}Clinton County Golf Clubs{% endblock %}

{% block content %}
<div class="xpage-container pb-5" style="background-color: #DAB28F;">
    <section class="hero mb-5">
        <img src="{% static 'img/bg_up.avif' %}" class="img-fluid" alt="...">
    </section>
    <div class="container rounded-3 border border-dark shadow-lg p-3" style="background-color: #f3e7dc;">
        <div class="m-3">
            <div class="section-title my-3">
                Clinton County Golf Clubs
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/golf/golf_1_4x3.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <div class="section-subtitle">
                    Golf in the Country
                </div>
                <p class="section-text">
                    Golf courses seem more at home in the country than in the city. No highway noise in the background. No long lines 
                    at the tee boxes. No snobs in the pro shop. All of which explains why Clinton County&apos;s two public golf courses 
                    are such a pleasure to play.<br>
                    Our courses feature stimulating layouts without the high greens fees you pay for city courses and tee times are 
                    easier to acquire.
                </p>
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/golf/golf_3_4x3.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="d-none d-md-block col-md-6 order-first">
                <div class="section-subtitle">
                    Plattsburg Country Club
                </div>
                <p class="section-text">
                    This course has been challenging golfers since 1921. Its par 71 layout is 6,250 yards of unique holes designed by 
                    Jeff Klaiber, a former Pete Dye architect. It rolls through hills, across a couple of creeks and around ponds. The 
                    fairways are bluegrass; the undulating greens are bentgrass. New ownership has taken great pride in making the 
                    course a joy to play, and it is also memorably scenic. For more information: 
                    <a href="https://www.plattsburgcc.com/golf/">https://www.plattsburgcc.com/golf/</a>
                </p>
            </div>
            <div class="d-block d-md-none col-12">
                <div class="section-subtitle">
                    Plattsburg Country Club
                </div>
                <p class="section-text">
                    This course has been challenging golfers since 1921. Its par 71 layout is 6,250 yards of unique holes designed by 
                    Jeff Klaiber, a former Pete Dye architect. It rolls through hills, across a couple of creeks and around ponds. The 
                    fairways are bluegrass; the undulating greens are bentgrass. New ownership has taken great pride in making the 
                    course a joy to play, and it is also memorably scenic. For more information: 
                    <a href="https://www.plattsburgcc.com/golf/">https://www.plattsburgcc.com/golf/</a>
                </p> 
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/golf/golf_2_4x3.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <div class="section-subtitle">
                    Cameron Veterans&apos; Memorial Golf Club
                </div>
                <p class="section-text">
                    This course has a motto: &quot;Manage your approach shots and our well-maintained greens will reward those players 
                    who have mastered the art of putting.&quot; At 5,809 yards from the black tees, the course accommodates wide skill 
                    levels. Water hazards on most holes add to the challenges. For more information: 
                    <a href="https://www.camerongolfclub.com/course-info/">https://www.camerongolfclub.com/course-info/</a>
                </p>
            </div>
        </div>
        <div class="section-subtitle">
            Come play Clinton County&apos;s finest courses and experience golf as it&apos;s meant to be—relaxed, beautiful, and unforgettable!
        </div>
    </div>  
</div>
{% endblock %}