<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="The Clinton County Initiative">
    {% block seo %}{% endblock %}
    {% load django_bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="icon" href="{% static 'icons/logo_icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
      @font-face {
        font-family: 'raleway';
        src: local('Raleway'), url('{% static 'fonts/Raleway-VariableFont_wght.ttf' %}') format('truetype');
      }
    </style>
  </head>
<body>
  <div id="layout-container" class="container-fluid p-0">
    {% include 'partials/nav.html' %}
    {% block content %}
    {% endblock %}
  </div>
  {% include 'partials/footer.html' %}
<!--fluid-container-->


<!-- custom js -->
 <script type="text/javascript" src="{% static 'js/main.js' %}" id="main-js" title="No content"></script>
</body>
</html>