<!DOCTYPE html>
<html lang="en">
  <head>
    {% block seo %}{% endblock %}
    {% load django_bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="icon" href="{% static 'img/cc_icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/regular.css' %}" rel="stylesheet" type="text/css">
  </head>
<body>
  <div id="layout-container" class="container-fluid p-0">
    {% include 'partials/nav.html' %}
    {% block content %}
    {% endblock %}
  </div>
  {% include 'partials/footer.html' %}
<!--fluid-container-->


<!-- custom js -->
 <script type="text/javascript" src="{% static 'js/main.js' %}" id="main-js" title="No content"></script>
</body>
</html>