{% extends "layout.html" %}
{% load static %}

{% block title %}Music{% endblock %}

{% block content %}
<div class="xpage-container pb-5" style="background-color: #DAB28F;">
    <section class="hero mb-5">
        <img src="{% static 'img/bg_up.avif' %}" class="img-fluid" alt="...">
    </section>
    <div class="container rounded-3 border border-dark shadow-lg p-3" style="background-color: #f3e7dc;">
        <div class="m-3">
            <div class="section-title my-3">
                Clinton County Comes Alive with the Sound of Music
            </div>
            <div class="section-text">
                From rock &apos;n&apos; roll to country and gospel, Clinton County has a rich live music scene that offers something for 
                everyone. Whether you&apos;re looking for a local festival vibe or an intimate performance at a cozy venue, Clinton County 
                is the place to be.
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/music/music_1_3x2.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <div class="section-subtitle">
                    150 Years of Music Tradition
                </div>
                <p class="section-text">
                    For more than 150 years, the Cameron Municipal Band has delighted audiences with marches, show tunes, and popular 
                    hits. Their summer Concert in the Park series kicks off on Memorial Day at the Thomas J. Price Memorial Band Pavilion 
                    in McCorkle Park and continues every first Thursday of the month through August at 8 p.m. Enjoy free admission, 
                    old-fashioned charm, and treats from the Cameron Historical Society, which sells ice cream, cake, and soft drinks at 
                    the event.
                </p>
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/music/music_5_3x2.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="d-none d-md-block col-md-6 order-first">
                <div class="section-subtitle">
                    Festival Fun and Live Music
                </div>
                <p class="section-text">
                    Local festivals in Gower, Lathrop, and Plattsburg each feature live music as part of their annual celebrations. 
                    Don&apos;t miss the tunes at Gower Days &lpar;second weekend in July&rpar;, the Lathrop Friendship Festival 
                    &lpar;last weekend in May&rpar;, and the Plattsburg Fall Festival &lpar;second weekend in October&rpar;. These events 
                    bring the community together with music, fun, and family-friendly activities.
                </p>
            </div>
            <div class="d-block d-md-none col-12">
                <div class="section-subtitle">
                    Festival Fun and Live Music
                </div>
                <p class="section-text">
                    Local festivals in Gower, Lathrop, and Plattsburg each feature live music as part of their annual celebrations. 
                    Don&apos;t miss the tunes at Gower Days &lpar;second weekend in July&rpar;, the Lathrop Friendship Festival 
                    &lpar;last weekend in May&rpar;, and the Plattsburg Fall Festival &lpar;second weekend in October&rpar;. These events 
                    bring the community together with music, fun, and family-friendly activities.
                </p>
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/music/music_3_3x2.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <div class="section-subtitle">
                    Live Music Venues
                </div>
                <p class="section-text">
                    For more live music throughout the year, check out <a href="https://www.facebook.com/thebackyardmo/">The Backyard</a> 
                    in Plattsburg, where you&apos;ll find an outdoor stage, dance floor, and food truck—a summertime favorite! The Horseshoe 
                    Pub & Grill &lpar;&lpar;816&rpar; 528-4606&rpar; in Lathrop hosts intimate performances, while the <a href="https://www.communitycourtyardmo.com/">Community Courtyard</a> in 
                    Plattsburg features occasional concerts in its beautifully renovated 1850s livery stable and carriage works building, 
                    which now serves as a community center and event venue.
                </p>
            </div>
        </div>
        <div class="section-subtitle">
            Whether you're enjoying a summer concert in the park or dancing the night away at a local festival, Clinton County is brimming with 
            musical entertainment. Come join us for a toe-tapping good time!
        </div>
    </div>  
</div>
{% endblock %}