{% extends "layout.html" %}
{% load static %}

{% block title %}Oak Street Market{% endblock %}

{% block content %}
<div class="xpage-container pb-5" style="background-color: #DAB28F;">
    <section class="hero mb-5">
        <img src="{% static 'img/cc_sign_bg_lg.avif' %}" class="img-fluid" alt="...">
    </section>
    <div class="container rounded-3 border border-dark shadow-lg p-3" style="background-color: #f3e7dc;">
        <div class="m-3">
            <div class="section-title my-3">
                Discover Local Treasures at Oak Street Market
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/oak_st/oak_st_0_1x15.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <p class="section-text my-lg-5 py-xl-5">
                    Located in the heart of downtown Lathrop, Missouri, the Oak Street Market is your go-to destination for farm-fresh 
                    produce, handmade goods, and artisanal crafts. Running every 2nd and 4th Saturday from May through October, this 
                    vibrant market offers a variety of local delights, including fresh meats, baked goods, jams, jewelry, and unique 
                    crafts.
                </p>
                <p class="section-text my-lg-5 py-xl-5">
                    Whether you&apos;re looking for seasonal fruits and vegetables or one-of-a-kind creations from local makers, Oak 
                    Street Market has something for everyone. Visit from 9 a.m. to 1 p.m. and enjoy the friendly atmosphere while 
                    supporting local farmers and artisans.
                </p>
            </div>
        </div>
        <div class="section-subtitle">
            Stay updated by visiting 
            <a href="https://www.facebook.com/OSMLathrop/">Oak Street Market</a> on Facebook for the latest news and events!
        </div>
    </div>  
</div>
{% endblock %}