{% extends "layout.html" %}
{% load static %}

{% block seo %}
 <title>
    Privacy Policy | Clinton County, Missouri
 </title>
 <meta name="description" property="og:description" content="Clinton County, Missouri Privacy Policy.">
 <meta name="keywords" content="Clinton County, Missouri, Privacy Policy">
 <meta property="og:title" content="Privacy Policy | Clinton County, Missouri">
 <meta property="og:type" content="website">
 <meta property="og:url" content="https://www.visitclintoncomo.com/privacy_policy/">
 <meta property="og:image" content="{% static 'icons/VCCM_Logo_Left.png' %}">
 <meta property="og:image:width" content="200">
 <meta property="og:image:height" content="200">
 <meta property="og:site_name" content="Discover Clinton County, Missouri">
 <meta property="og:locale" content="en_US">
 <meta property="og:image:alt" content="Visit Clinton County, Missouri Logo">
 <meta property="og:image:type" content="image/png">
 <meta name="twitter:card" content="summary">
{% endblock %}

{% block skiplink %}
<a href="#privacy-policy-content" class="visually-hidden-focusable skip-link">Skip main navigation</a>
{% endblock skiplink %}

{% block content %}
<div id="privacy-policy-content" class="container mt-5 pt-5">
    <h1 keyword="Privacy Policy">Privacy Policy</h1>
    <h2>Privacy Statement</h2>
    <p>Thank you for visiting our website visitclintoncomo.com. By visiting our website and submitting information to us, you consent to the following policy. This policy lets you know how we handle information we learn about you from your visit to our Web site. The information we receive depends on what you do when you visit our site.</p>

    <h2>Website &lpar;URL&rpar; Linking Policy</h2>
    <p>Links may be included within individual listings on The Clinton County Initiative &lpar;CCI&rpar; Web sites. Links to external &lpar;Tourism Industry&rpar; Web sites are approved or denied by the CCI Web editor, following the requirements listed below. &lpar;Exceptions may be made on a case-by-case basis at the sole discretion of CCI.&rpar;</p>
    <p>CCI requests that you post on your Web site a reciprocal link labeled “Official Clinton County Tourism Web Site” which takes people to www.visitclintoncomo.com.</p>
    <ul>
        <li>The business/event must be directly involved in Tourism related activities within the county of Clinton County, Missouri.</li>
        <li>Links must point to a Web site or internal page which addresses the specific business, attraction or event concerned. &lpar;Example: for the Wallace State Park, www.mostateparks.com does not meet this requirement. The correct link would be: www.mostateparks.com/park/wallace-state-park</li>
        <li>The site must contain substantially more information about that specific entity/event than was submitted for inclusion in the CCI site listing.</li>
        <li>The Web site must be user friendly and easily readable.</li>
        <li>The Web site/page must be separate from non-tourism related content, advertising or non-tourism third-party links.</li>
        <li>The Web site must be fully operational. Web sites that, in whole or in part, are “Under Construction” will not be approved.</li>
        <li>All information on the Web site must be current and up-to-date, including any events calendar.</li>
        <li>The site may not be used for sales of non-tourism related services or products, including real estate of any type.</li>
        <li>The entire site must be void of any political commentary, campaign information or content that advocates a political position or candidate, either directly or through a third party.</li>
        <li>Inclusion of a link to your URL does not imply, nor may it be used to indicate, endorsement or recommendation by CCI or any department/division thereof.</li>
    </ul>
    <p>If your link is denied, you will be notified by email as to the reason for that denial. Said email will go to the email address contained in your User Profile. Denied links may be resubmitted once the discrepancies are corrected.</p>

    <h2>Usage Statistics</h2>
    <p>In order to generate usage statistics to help us improve our Web site, we automatically collect certain information on every visitor to the site. However, this information does not include “personal identifiers,” such as name, address, telephone number, e-mail address, etc. Each time a request is made to view a page within the Web site, a log file captures generic user information.</p>
    <p>Examples of this kind of information include:</p>
    <ul>
        <li>The Internet Service Provider &lpar;ISP&rpar; through which you access the Internet &lpar;aol.com, earthlink.net, etc.&rpar;;</li>
        <li>The Internet protocol &lpar;IP&rpar; address of the individual computer &lpar;or proxy server&rpar; making the request;</li>
        <li>The type of Internet browser and computer operating system you are using &lpar;Microsoft Explorer 5.0, Apple Mac OS, etc.&rpar;;</li>
        <li>The date and time you access the site;</li>
        <li>The Internet address &lpar;URL&rpar; of the site from which you may have linked to this site.</li>
    </ul>
    <p>All information collected by way of server log files is used in aggregate form only and may be analyzed for trend data and other statistical purposes.</p>

    <h2>Online Forms and E-Mail</h2>
    <p>The Clinton County Initiative Web site does not collect personally identifying information such as name, address, telephone number, etc., unless you provide the information voluntarily. We may ask for such information so that we can tailor the interactive features of this Web site to your specific interests and needs and in order to most efficiently and effectively provide you with information. You are free to provide or not to provide the requested information. If you choose not to provide this type of information, you can still visit most of the Web site, but you may be unable to take advantage of some of its features.</p>
    <p>In some instances, the information requested through this Web site is required in order for you to transact business with The Clinton County Initiative. This information is maintained in the same manner as information provided to the Clinton County Initiative through other mechanisms such as letters, phone calls and hard copy applications submitted in person. This information may also be provided to other governmental organizations in an attempt to improve efficiency and effectiveness.</p>
    <p>If you decide to send us an electronic mail message &lpar;e-mail&rpar;, the message will usually contain your return e-mail address. If you include personally identifying information in your e-mail because you want us to address issues specific to your situation, we may use that information in responding to your request. This may require that we share the information with another county agency if the other county agency&apos;s participation is necessary to effectively respond to your request/inquiry. All collected information will be a closed record to the extent allowed by the Missouri Sunshine Law.</p>
    <p>Also, e-mail is not necessarily secure against interception. Please send only information necessary to help us process your request.</p>

    <h2>Use of Cookies</h2>
    <p>On a limited number of its pages, the Clinton County Initiative employs &quot;cookies&quot; to provide better service to its customers. The Clinton County Initiative does not use cookies to collect any personally identifying information from users or to track user activities beyond our Web site.</p>

    <h2>Use of Transparent GIF Files</h2>
    <p>The Clinton County Initiative uses pixels, or transparent GIF files, to help manage online advertising. These GIF files are provided by our analytics tracking from Google. These files enable Google to recognize a unique cookie on your Web browser, which in turn enables us to learn how to make our website more responsive to consumer needs. The cookie was placed by us or our advertising partners. The information that we collect and share is anonymous and not personally identifiable. It does not contain your name, address, telephone number, or email address. For more information about Google Analytics <a href="https://marketingplatform.google.com/about/analytics/features/" class="btn btn-lg btn-outline-primary" rel="noopener noreferrer" target="_blank" aria-label="Go to Google Analytics information page">CLICK HERE</a>.</p>

    <h2>Public Records</h2>
    <p>Visitors should be aware that, subject to certain statutory exceptions, most documents and records maintained by the State of Missouri, including but not limited to electronic data, are public records under Missouri law. Therefore, information submitted through this Web site may be subject to disclosure pursuant to a public records request.</p>

    <h2>Linking guidelines for linking to visitclintoncomo.com, the official Clinton County Initiative Web site:</h2>
    <p>We are receiving an increasing number of requests in reference to linking to and/or from our Web site. The following are guidelines for linking to the Clinton County Initiative (CCI) Web site:</p>
    <p>Information presented on the CCI Web site is considered public information and may be distributed, copied or linked to or from non-Clinton County Web sites. However, the contents of our Web site may not be used for commercial purposes or to imply endorsement by CCI of products or services. For further information contact CCI staff or refer to our usage policies. CCI logos and graphics may be used on non-CCI Web site as graphic buttons that link back to the official CCI Web site. CCI logos and graphics may not be used to create non-official Web sites that give the appearance and general look and feel of the official Web site. All links must be highly visible, relative to other links on that site and say “Clinton County Initiative” to identify it.</p>

    <h2>Disclaimer</h2>
    <p>The Clinton County Intitiative reserves the right to accept or reject any and all hot links. Our policy discloses the privacy practices for the Clinton County Initiative Web site. While we provide links to other Web sites, once you leave the CCI Web site, you will be going to sites that are beyond our control and you are subject to the privacy policy of that site.</p>
    <p>CCI is neither responsible for the content or accuracy of any pages linked to or referenced from this site. Although the Clinton County Initiative Web site includes addresses, phone numbers, hours of operation for attractions and dates and hours of events, you should call ahead before driving long distance to visit any single attraction or to attend an event. Time, days and hours of operation may vary and occasionally events are rescheduled or cancelled.</p>
</div>
{% endblock %}