{% extends "layout.html" %}
{% load static %}

{% block title %}Privacy Policy -| Clinton County, MO{% endblock %}
{% block content %}
<div class="container mt-5 pt-5">
    <h1>Privacy Policy</h1>

    <p>&lpar;1&rpar; The Government of Clinton County, Missouri is using logging and profiling tools to gather information about each visit to its websites. It processes this information in the aggregate to determine site performance issues, such as popular pages, most frequently downloaded forms, and other site performance characteristics. This information does not identify users personally.</p>

    <p>&lpar;2&rpar; The Government of Clinton County, Missouri does not share, sell or rent your personal information to third parties, although it may disclose aggregated information about the use of its websites, that information does not contain personal information.</p>

    <p>&lpar;3&rpar; The Government of Clinton County, Missouri cannot ensure that personal information will not be disclosed to third parties. For example, it may be obligated to disclose information to the State or Federal Government or third parties under certain circumstances, or third parties may circumvent its security measures to unlawfully intercept or access transmissions or private communications.</p>

    <p>&lpar;4&rpar; The Government of Clinton County, Missouri, may collect uniquely identifiable information such as a site login and password, user name and an email address for purposes of customizing its websites to users&rsquo; needs and preferences, and to operate electronic mailing or distribution lists. Such information is provided by the user on a strictly voluntary basis. By providing such information, the user agrees to receive communication from Clinton County for purposes of account maintenance and account security.</p>

    <p>&lpar;5&rpar; To the extent that the Government of Clinton County, Missouri, elects to operate electronic mailing or distribution lists, it will offer the choice to opt out of receiving such communications to persons and organizations who have elected to receive them. Requests to opt out of receiving such communications are provided with each communication, or may be submitted by sending an email to webteam@claycountymo.gov (please state your name and login, and the name of the mailing list you wish to opt out of).</p>

    <p>&lpar;6&rpar; The Government of Clinton County, Missouri, may use &ldquo;cookies&rdquo; to customize its websites to users&rsquo; preferences and needs, and to preserve state if users choose to log in to the site. Cookies are bits of information stored in users&rsquo; web browsers that can be altered and retrieved by site operators. The Government of Clinton County, Missouri, attempts to only use cookies for the purposes mentioned, but cannot exclude the possibility of using &ldquo;third-party cookies&rdquo; that may be used by service providers not affiliated with Clinton County, Missouri, such as providers of social media sharing tools. Please consult your Internet/web browser help function or the Internet for instructions on how to clear cookies from your web browser.</p>
</div>
{% endblock %}