{% extends "layout.html" %}
{% load static %}

{% block title %}Resources{% endblock %}

{% block content %}
<div class="xpage-container pb-5" style="background-color: #DAB28F;">
    <section class="hero mb-5">
        <img src="{% static 'img/cc_sign_bg_lg.avif' %}" class="img-fluid d-block" alt="...">
    </section>
    <div class="container rounded-3 py-4 border border-dark shadow-lg" style="background-color: #f3e7dc;">
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="section-title">
                    Clinton County Resources
                </div>
                <div class="section-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias rerum delectus repellendus asperiores quia, veniam a vero, voluptas perferendis illo voluptatum autem consequatur! Aperiam ab amet dolor voluptatibus perspiciatis natus?
                </div>
            </div>
        </div>
        <section class="mt-4 p-3 rounded-3">
            <div class="row">
                <div class="col col-md-6 py-1">
                    <label for="filter-type" class="form-label">Filter by Type</label>
                    <select id="filter-type" class="form-select" onchange="filterResources()">
                        <option value="">All Types</option>
                        <option value="type_1">Type 1</option>
                        <option value="type_2">Type 2</option>
                        <!-- Add more types as needed -->
                    </select>
                </div>
                <div class="col col-md-6 py-1">
                    <label for="filter-city" class="form-label">Filter by City</label>
                    <select id="filter-city" class="form-select" onchange="filterResources()">
                        <option value="">All Cities</option>
                            <option value="cameron">Cameron</option>
                            <option value="gower">Gower</option>
                            <option value="holt">Holt</option>
                            <option value="lathrop">Lathrop</option>
                            <option value="lawson">Lawson</option>
                            <option value="osborn">Osborn</option>
                            <option value="plattsburg">Plattsburg</option>
                            <option value="trimble">Trimble</option>
                            <option value="turney">Turney</option>
                        <!-- Add more cities as needed -->
                    </select>
                </div>
            </div>
            <div class="table-responsive mt-4 wrapper rounded-3">
                <table class="table table-scrollable table-hover table-bordered">
                    <thead class="table-dark">
                        <tr class="align-middle">
                            <th scope="col">Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">City</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody class="text-center" id="resources-table-body">
                        {% for resource in resources %}
                        <tr>
                            <td>{{ resource.name }}</td>
                            <td>{{ resource.type }}</td>
                            <td>{{ resource.city }}</td>
                            <td>{{ resource.description }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>

<script>

    function filterResources() {
        var typeFilter = document.getElementById('filter-type').value;
        var cityFilter = document.getElementById('filter-city').value;
        var tableBody = document.getElementById('resources-table-body');
        var rows = tableBody.getElementsByTagName('tr');

        for (var i = 0; i < rows.length; i++) {
            var type = rows[i].getElementsByTagName('td')[1].innerText;
            var city = rows[i].getElementsByTagName('td')[2].innerText;

            if ((typeFilter === "" || type === typeFilter) && (cityFilter === "" || city === cityFilter)) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    }

    function log(data) {
        console.log(data);
    }

</script>
{% endblock %}