{% extends "layout.html" %}
{% load static %}

{% block title %}Shopping &amp; Leisure{% endblock %}

{% block content %}
<div class="xpage-container pb-4" style="background-color: #DAB28F;">
    <section class="hero mb-5">
        <img src="{% static 'img/cc_sign_bg_lg.avif' %}" class="img-fluid d-block" alt="...">
    </section>
    <div class="container rounded-3 py-4 border border-dark shadow-lg" style="background-color: #f3e7dc;">
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="section-title">
                    Local Shopping &amp; Leisure
                </div>
                <div class="section-text">
                    Welcome to Clinton County! Discover a variety of shopping and leisure experiences that 
                    cater to all tastes and preferences. Enjoy the charm and hospitality of our local 
                    businesses and make unforgettable memories.
                </div>
            </div>
        </div>
        <section class="g-2 mx-auto py-3" style="background-color: #f3e7dc;">
            <div class="filter-group">
                <div class="row">
                    <div class="col col-md-3 py-1">
                        <label for="familyFriendlyFilter" class="form-label">Family Friendly</label>
                        <select id="familyFriendlyFilter" class="form-select" onchange="filterBusinesses()">
                            <option value="">All</option>
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                    </div>
                    <div class="col col-md-3 py-1">
                        <label for="cityFilter" class="form-label">City</label>
                        <select id="cityFilter" class="form-select" onchange="filterBusinesses()">
                            <option value="">All</option>
                            <option value="cameron">Cameron</option>
                            <option value="gower">Gower</option>
                            <option value="holt">Holt</option>
                            <option value="lathrop">Lathrop</option>
                            <option value="lawson">Lawson</option>
                            <option value="osborn">Osborn</option>
                            <option value="plattsburg">Plattsburg</option>
                            <option value="trimble">Trimble</option>
                            <option value="turney">Turney</option>
                        </select>
                    </div>
                    <div class="col col-md-4 py-1">
                        <label for="typeFilter" class="form-label">Type</label>
                        <select id="typeFilter" class="form-select" onchange="filterBusinesses()">
                            <option value="">All</option>
                            <option value="agriculture">Agriculture</option>
                            <option value="antiques">Antiques</option>
                            <option value="appliance_repair">Appliance Repair</option>
                            <option value="auto">Auto/Vehicle</option>
                            <option value="banks">Banks</option>
                            <option value="boutiques">Boutiques</option>
                            <option value="bowling">Bowling</option>
                            <option value="building_remodeling">Building/Remodeling</option>
                            <option value="business_park">Business Park</option>
                            <option value="child_care">Child/Day Care</option>
                            <option value="computers">Computers</option>
                            <option value="conference_meeting_rooms">Conference/Meeting Rooms</option>
                            <option value="dentist">Dentist</option>
                            <option value="electronic_repair">Electronic Repair</option>
                            <option value="feed_farm_supplies">Feed &amp; Farm Supplies</option>
                            <option value="florist">Florist</option>
                            <option value="funeral_homes">Funeral Homes</option>
                            <option value="gas_stations">Gas Stations</option>
                            <option value="golf">Golf</option>
                            <option value="groceries_stores">Groceries/Variety Stores</option>
                            <option value="hair_salon_barber_shop">Hair Salon/Barber Shop</option>
                            <option value="home_inspectors">Home Inspectors</option>
                            <option value="insurance">Insurance</option>
                            <option value="lawn_exterior">Lawn &amp; Exterior</option>
                            <option value="legal">Legal Assistance</option>
                            <option value="library">Library</option>
                            <option value="licence_office">License Office</option>
                            <option value="liquor">Liquor</option>
                            <option value="media_communications">Media Communications</option>
                            <option value="pharmacy">Pharmacy</option>
                            <option value="photo_booth">Photo Booth</option>
                            <option value="photography">Photography</option>
                            <option value="plumbing">Plumbing</option>
                            <option value="preschools">Preschools</option>
                            <option value="real_estate">Real Estate</option>
                            <option value="senior_services">Senior Services</option>
                            <option value="specialty_shops">Specialty Shops</option>
                            <option value="storage">Storage</option>
                            <option value="title_companies">Title Companies</option>
                            <option value="utilities">Utilities</option>
                            <option value="venues">Venues</option>
                            <option value="veterinary">Veterinary</option>
                            <option value="warehouse">Warehouse</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="table-responsive mt-4 p4 wrapper rounded-3">
                <table class="table table-scrollable table-hover table-bordered">
                    <thead class="table-dark">
                        <tr class="align-middle">
                            <th scope="col">Name</th>
                            <th scope="col">Address</th>
                            <th scope="col">Website</th>
                        </tr>
                    </thead>
                    <tbody class="text-center" id="shopBusinessDetails">
                        {% for business in businesses %}
                        <tr data-family-friendly="{{ business.family_friendly|yesno:'true,false' }}"
                            data-city="{{ business.city }}" 
                            data-description="{{ business.description }}"
                            data-type="{{ business.type }}">
                            <td>{{ business.name }}</td>
                            <td>{{ business.address }}</td>
                            <td><a href="{{ business.website }}" target="_blank">{{ business.website }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>

<script>

    function filterBusinesses() {
        const familyFriendlyFilter = document.getElementById('familyFriendlyFilter').value;
        const cityFilter = document.getElementById('cityFilter').value;
        const typeFilter = document.getElementById('typeFilter').value;
        const businessDetails = document.getElementById('shopBusinessDetails').children;

        for (let i = 0; i < businessDetails.length; i++) {
            const business = businessDetails[i];
            const familyFriendly = business.getAttribute('data-family-friendly');
            const city = business.getAttribute('data-city');
            const type = business.getAttribute('data-type');

            if ((familyFriendlyFilter === '' || familyFriendlyFilter === familyFriendly) &&
                (cityFilter === '' || cityFilter === city) &&
                (typeFilter === '' || typeFilter === type)) {
                business.style.display = 'table-row';
            } else {
                business.style.display = 'none';
            }
        }
    }

    function log(data) {
        console.log(data);
    }

</script>
{% endblock %}