{% extends "layout.html" %}
{% load static %}

{% block title %}Smithville Lake{% endblock %}

{% block content %}
<div id="main-content" class="xpage-container py-4" style="background-color: #DAB28F;">
    <section class="hero mb-4">
        <img src="{% static 'img/cc_sign_bg_lg.avif' %}" class="img-fluid d-block" alt="...">
        <div class="z-3 position-absolute text-light text-center"></div>
    </section>
    <div class="container rounded-3" style="background-color: #f3e7dc;">
        <div class="fs-2 text-center py-3">
            Smithville Lake
        </div>
        <div class="container p-4 fs-6 text-center">
            <div class="row align-items-center pe-2">
                <div class="col-12 col-md-6">
                    <img src="{% static 'img/default_img.jpg' %}" alt="" class="img-fluid rounded">
                </div>
                <div class="col-12 col-md-6">
                    <div class="fs-3 pb-3">
                        Escape to Nature&apos;s Tranquility
                    </div>
                    <p>
                        When most people in the Kansas City metro area think of Smithville Lake, they picture the 
                        bustling town of Smithville in Clay County. But a hidden gem lies in Clinton County, where 
                        nearly half of the lake&apos;s 7,190-acre shoreline offers a more peaceful, secluded 
                        experience. This quieter side of Smithville Lake is perfect for those seeking nature-filled 
                        adventures away from the crowds.
                    </p>
                </div>
            </div>
            <div class="row align-items-center pe-2">
                <div class="col-12 col-md-6">
                    <img src="{% static 'img/default_img.jpg' %}" alt="" class="img-fluid rounded">
                </div>
                <div class="d-none d-md-block col-md-6 py-4 order-first">
                    <div class="fs-3 pb-3">
                        A Fishing Haven
                    </div>
                    <p>
                        For anglers, Clinton County&apos;s side of Smithville Lake is paradise. With sheltered coves 
                        and ideal fishing spots, the Missouri Department of Conservation has stocked the lake with 
                        largemouth bass, crappie, catfish, and walleye since 1975. The Little Platte River, which 
                        flows into the lake, offers prime shoreline fishing, with several species feeding and spawning 
                        in its cool waters.
                    </p>
                </div>
                <div class="d-block d-md-none col-12 py-4">
                    <div class="fs-3 pb-3">
                        A Fishing Haven
                    </div>
                    <p>
                        For anglers, Clinton County&apos;s side of Smithville Lake is paradise. With sheltered coves 
                        and ideal fishing spots, the Missouri Department of Conservation has stocked the lake with 
                        largemouth bass, crappie, catfish, and walleye since 1975. The Little Platte River, which 
                        flows into the lake, offers prime shoreline fishing, with several species feeding and spawning 
                        in its cool waters.
                    </p>
                    
                </div>
            </div>
            <div class="row align-items-center pe-2">
                <div class="col-12 col-md-6">
                    <img src="{% static 'img/default_img.jpg' %}" alt="" class="img-fluid rounded">
                </div>
                <div class="col-12 col-md-6 py-4">
                    <div class="fs-3 pb-3">
                        A Hunter&apos;s Paradise
                    </div>
                    <p>
                        Hunting is a deep-rooted tradition in Clinton County, and the areas around Smithville Lake are 
                        open for all Missouri Department of Conservation hunting seasons. From deer to waterfowl, turkey 
                        to small game, a variety of huntable species makes this region a prime destination. Honker Cove 
                        Waterfowl Refuge near Trimble is remarkable.
                    </p>
                    <a href="https://www.nwk.usace.army.mil/Locations/District-Lakes/Smithville-Lake/Hunting-and-Fishing/" class="btn btn-primary">Hunting &amp; Fishing</a>
                </div>
            </div>
            <div class="row align-items-center pe-2">
                <div class="col-12 col-md-6">
                    <img src="{% static 'img/default_img.jpg' %}" alt="" class="img-fluid rounded">
                </div>
                <div class="d-none d-md-block col-md-6 py-4 order-first">
                    <div class="fs-3 pb-3">
                        Outdoor Access &amp; Exploration
                    </div>
                    <span>
                        Clinton County offers multiple access points to Smithville Lake and the Little Platte River, 
                        including
                        <a href="https://www.google.com/search?client=safari&rls=en&q=boat+ramps+smithville+lake&ie=UTF-8&oe=UTF-8&lqi=#rlimm=4036058763244348203" class="btn btn-primary">
                            Boat Ramps
                        </a> at Hwy. C near McGee Family Conservation Area and off Hwy. O in Trimble. 
                    </span>
                    <span>
                        If you prefer paddling over motorboats, kayak rentals are available from 
                        <a href="https://bigfooteoutfitters.com/" class="btn btn-primary">BigFoote Outfitters</a>, 
                        letting you explore the lake&apos;s wilder waters at your own pace.
                    </span>
                </div>
                <div class="d-block d-md-none col-12 py-4">
                    <div class="fs-3 pb-3">
                        Outdoor Access &amp; Exploration
                    </div>
                    <span>
                        Clinton County offers multiple access points to Smithville Lake and the Little Platte River, 
                        including
                        <a href="https://www.google.com/search?client=safari&rls=en&q=boat+ramps+smithville+lake&ie=UTF-8&oe=UTF-8&lqi=#rlimm=4036058763244348203" class="btn btn-primary">
                            Boat Ramps
                        </a> at Hwy. C near McGee Family Conservation Area and off Hwy. O in Trimble. 
                    </span>
                    <span>
                        If you prefer paddling over motorboats, kayak rentals are available from 
                        <a href="https://bigfooteoutfitters.com/" class="btn btn-primary">BigFoote Outfitters</a>, 
                        letting you explore the lake&apos;s wilder waters at your own pace.
                    </span>
                </div>
            </div>
            <div class="row align-items-center pe-2">
                <div class="col-12 col-md-6">
                    <img src="{% static 'img/default_img.jpg' %}" alt="" class="img-fluid rounded">
                </div>
                <div class="col-12 col-md-6 py-4">
                    <div class="fs-3 pb-3">
                        Reconnect with Nature
                    </div>
                    <p>
                        Whether you&apos;re fishing, hunting, or quietly kayaking through secluded inlets, 
                        Clinton County&apos;s side of Smithville Lake provides a serene escape where you can 
                        reconnect with Nature. Plan your visit to this lesser-known corner of the lake and 
                        experience its peaceful beauty.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}