{% extends "layout.html" %}
{% load static %}

{% block title %}Smithville Lake{% endblock %}

{% block content %}
<div class="xpage-container pb-5" style="background-color: #DAB28F;">
    <section class="hero mb-5">
        <img src="{% static 'img/cc_sign_bg_lg.avif' %}" class="img-fluid" alt="...">
    </section>
    <div class="container rounded-3 border border-dark shadow-lg p-3" style="background-color: #f3e7dc;">
        <div class="m-3">
            <div class="section-title py-3">
                Smithville Lake
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/smithville_lake/kayaking.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <div class="section-subtitle">
                    Escape to Nature&apos;s Tranquility
                </div>
                <p class="section-text">
                    When most people in the Kansas City metro area think of Smithville Lake, they picture the 
                    bustling town of Smithville in Clay County. But a hidden gem lies in Clinton County, where 
                    nearly half of the lake&apos;s 7,190-acre shoreline offers a more peaceful, secluded 
                    experience. This quieter side of Smithville Lake is perfect for those seeking nature-filled 
                    adventures away from the crowds.
                </p>
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/smithville_lake/fishing_4x3.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="d-none d-md-block col-md-6 order-first">
                <div class="section-subtitle">
                    A Fishing Haven
                </div>
                <p class="section-text">
                    For anglers, Clinton County&apos;s side of Smithville Lake is paradise. With sheltered coves 
                    and ideal fishing spots, the Missouri Department of Conservation has stocked the lake with 
                    largemouth bass, crappie, catfish, and walleye since 1975. The Little Platte River, which 
                    flows into the lake, offers prime shoreline fishing, with several species feeding and spawning 
                    in its cool waters.
                </p>
            </div>
            <div class="d-block d-md-none col-12">
                <div class="section-subtitle">
                    A Fishing Haven
                </div>
                <p class="section-text">
                    For anglers, Clinton County&apos;s side of Smithville Lake is paradise. With sheltered coves 
                    and ideal fishing spots, the Missouri Department of Conservation has stocked the lake with 
                    largemouth bass, crappie, catfish, and walleye since 1975. The Little Platte River, which 
                    flows into the lake, offers prime shoreline fishing, with several species feeding and spawning 
                    in its cool waters.
                </p>
                
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/smithville_lake/geese.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <div class="section-subtitle">
                    A Hunter&apos;s Paradise
                </div>
                <p class="section-text">
                    Hunting is a deep-rooted tradition in Clinton County, and the areas around Smithville Lake are 
                    open for all Missouri Department of Conservation hunting seasons. From deer to waterfowl, turkey 
                    to small game, a variety of huntable species makes this region a prime destination. Honker Cove 
                    Waterfowl Refuge near Trimble is remarkable. It&apos;s about 2,200 acres of land and water 
                    especially set aside to preserve migratory and permanent wildfowl species such as Canada geese, 
                    snow geese and several species of ducks. The refuge&apos;s hunting season pauses October 15 &mdash; 
                    January 31 in accordance with MDC waterfowl regulations.

                </p>
                <a href="https://www.nwk.usace.army.mil/Locations/District-Lakes/Smithville-Lake/Hunting-and-Fishing/" class="btn btn-primary">Hunting &amp; Fishing</a>
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/smithville_lake/map.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="d-none d-md-block col-md-6 order-first">
                <div class="section-subtitle">
                    Outdoor Access &amp; Exploration
                </div>
                <span class="section-text">
                    Clinton County offers multiple access points to Smithville Lake and the Little Platte River, 
                    including
                    <a href="https://www.google.com/search?client=safari&rls=en&q=boat+ramps+smithville+lake&ie=UTF-8&oe=UTF-8&lqi=#rlimm=4036058763244348203" class="btn btn-primary">
                        Boat Ramps
                    </a> at Hwy. C near McGee Family Conservation Area and off Hwy. O in Trimble. 
                </span>
                <span class="section-text">
                    If you prefer paddling over motorboats, kayak rentals are available from 
                    <a href="https://bigfooteoutfitters.com/" class="btn btn-primary">BigFoote Outfitters</a>, 
                    letting you explore the lake&apos;s wilder waters at your own pace.
                </span>
            </div>
            <div class="d-block d-md-none col-12">
                <div class="section-subtitle">
                    Outdoor Access &amp; Exploration
                </div>
                <span class="section-text">
                    Clinton County offers multiple access points to Smithville Lake and the Little Platte River, 
                    including
                    <a href="https://www.google.com/search?client=safari&rls=en&q=boat+ramps+smithville+lake&ie=UTF-8&oe=UTF-8&lqi=#rlimm=4036058763244348203" class="btn btn-primary">
                        Boat Ramps
                    </a> at Hwy. C near McGee Family Conservation Area and off Hwy. O in Trimble. 
                </span>
                <span class="section-text">
                    If you prefer paddling over motorboats, kayak rentals are available from 
                    <a href="https://bigfooteoutfitters.com/" class="btn btn-primary">BigFoote Outfitters</a>, 
                    letting you explore the lake&apos;s wilder waters at your own pace.
                </span>
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/smithville_lake/deer.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <div class="section-subtitle">
                    Reconnect with Nature
                </div>
                <p class="section-text">
                    Whether you&apos;re fishing, hunting, or quietly kayaking through secluded inlets, 
                    Clinton County&apos;s side of Smithville Lake provides a serene escape where you can 
                    reconnect with Nature. Plan your visit to this lesser-known corner of the lake and 
                    experience its peaceful beauty.
                </p>
            </div>
        </div>
    </div>  
</div>
{% endblock %}