{% extends "layout.html" %}
{% load static %}

{% block seo %}
 <title>
    Cameron's Hot Air Affair Balloon Festival 2025 | Clinton County, Missouri
 </title>
 <meta name="description" property="og:description" content="">
 <meta name="keywords" content="Cameron, Hot Air Affair, Balloon Festival, Clinton County, Missouri, Plattsburg, Clinton County Historical Society, Buffalo Soldiers, barbecue, greens, pie, music, jazz, shade trees, picnic, history, neighborliness">
 <meta property="og:title" content="Cameron's Hot Air Affair Balloon Festival 2025 | Clinton County, Missouri">
 <meta property="og:type" content="website">
 <meta property="og:url" content="https://www.visitclintoncomo.com/events-to-enjoy/camerons-hot-air-affair-balloon-festival-2025/">
 <meta property="og:image" content="{% static 'img/home_page/pv_river_4x3.avif' %}">
 <meta property="og:image:width" content="200">
 <meta property="og:image:height" content="200">
 <meta property="og:site_name" content="Discover Clinton County, Missouri">
 <meta property="og:locale" content="en_US">
 <meta property="og:image:alt" content="Image alt example">
 <meta property="og:image:type" content="image/avif">
 <meta name="twitter:card" content="summary">
{% endblock %}

{% block content %}
<div class="container-fluid p-0 m-0" style="background-color: #f3e7dc;">
    <section class="hero mb-5">
        <img src="{% static 'img/hot_air/hot_air_77_3x1.avif' %}" class="img-fluid" alt="...">
    </section>
    <div class="container py-3 mt-5">
        <div class="m-3">
            <div class="section-title my-3">
                Cameron's Hot Air Affair Balloon Festival 2025
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-4 mx-auto d-flex justify-content-center">
                <img src="{% static 'img/hot_air/hot_air_73_1x15.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-8">
                <p class="section-text">
                    Cameron&apos;s annual hot air balloon festival is taking flight May 30-June 1, 2025.
                    <br>Free admission.
                    <br>Experience the magic of dozens of balloons rising in the sky. Get up close with the balloons and their 
                    pilots during the balloon glow at sunset. Tethered balloon rides by Olde World Balloonery. Bring the entire 
                    family! This exciting event will feature live music, food and craft vendors, kids&apos; activities, and so 
                    much more! Friday night band is Centerline. Saturday night is Mixology. 
                    <br>Paid sponsors welcome. 
                    <br>For more information:
                    <a href="https://cameronmochamber.com/" class="btn btn-outline-success btn-lg" target="_blank">Click Here</a>
                </p>
            </div>
        </div>
        <div class="row text-center text-lg-start align-items-center">
            <div class="col-10 col-md-6 mx-auto my-4">
                <img class="img-fluid rounded-3" src="{% static 'img/hot_air/hot_air_7_4x3.avif' %}" alt="">
            </div>
            <div class="col-10 col-md-6 mx-auto my-4">
                <img class="img-fluid rounded-3" src="{% static 'img/hot_air/hot_air_62_4x3.avif' %}" alt="">
            </div>
            <div class="col-10 col-md-6 mx-auto my-4">
                <img class="img-fluid rounded-3" src="{% static 'img/hot_air/hot_air_43_4x3.avif' %}" alt="">
            </div>
            <div class="col-10 col-md-6 mx-auto my-4">
                <img class="img-fluid rounded-3" src="{% static 'img/hot_air/hot_air_46_4x3.avif' %}" alt="">
            </div>
        </div>
    </div> 
</div>
{% endblock %}