{% extends "layout.html" %}
{% load static %}

{% block title %}Car Shows{% endblock %}

{% block content %}
<div class="container-fluid p-5" style="background-color: #DAB28F;">
    <div class="container rounded-3 border border-dark shadow-lg p-3 mt-5" style="background-color: #f3e7dc;">
        <div class="m-3">
            <div class="section-title my-3">
                Rev Your Engines for Clinton County&apos;s Classic Car Shows
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/car_show/car_show_0_3x2.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <p class="section-text">
                    Clinton County is a top destination for small-town car shows, where classic cars and vintage beauties take center stage. 
                    Lathrop hosts one of the area&apos;s oldest shows, now in its 46th year, every mid-June, drawing entries from across the 
                    region. Contact Lathrop Antique Show at info@lathropantique.com for more details.
                </p>
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/car_show/car_show_1_3x2.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="d-none d-md-block col-md-6 order-first">
                <p class="section-text">
                    During Gower Days on the second weekend in July, car enthusiasts can enjoy Gower&apos;s lively annual show. And in 
                    Plattsburg, don&apos;t miss the car show on the fourth Saturday in May.
                </p>
            </div>
            <div class="d-block d-md-none col-12">
                <p class="section-text">
                    During Gower Days on the second weekend in July, car enthusiasts can enjoy Gower&apos;s lively annual show. And in 
                    Plattsburg, don&apos;t miss the car show on the fourth Saturday in May.
                </p>
            </div>
        </div>
        <div class="section-subtitle">
            Stay tuned for more car events in Clinton County, where classic cars and community pride go hand in hand!
        </div>
    </div>  
</div>
{% endblock %}