{% extends "layout.html" %}
{% load static %}

{% block title %}Clinton County Christmas{% endblock %}

{% block content %}
<div class="container-fluid p-5" style="background-color: #f3e7dc;">
    <div class="container p-3 mt-5">
        <div class="m-3">
            <div class="section-title my-3">
                Clinton County Christmas
            </div>
            <div class="section-text">
                Clinton County does Christmas the way it used to be&mdash;old fashioned and heartfelt. So get away from the bustle 
                of Christmas in the city and experience the holiday season in traditional rural American style. How about a night 
                parade with lighted Christmas floats crafted in barns and pulled by tractors and pickups? How about beautifully 
                decorated downtowns with shop windows glowing with colored lights? How about hay rides, Christmas homes tours and 
                homemade craft items for sale?<br>
                If you want to sample Christmas that has a rural America flavor, join us in Clinton County.

            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/christmas/christmas_0_3x2.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <p class="section-text">
                    Cameron&mdash;Festival of Lights and Small Town Saturday features a Christmas Parade the weekend of November 30, 
                    2024. For more information: <a href="https://cameronmochamber.com/community-events/">Click Here</a>
                </p>
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/christmas/christmas_1_3x2.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="d-none d-md-block col-md-6 order-first">
                <p class="section-text">
                    Gower&mdash;Christmas in the Park, December 13-14, 2024. Just before the town&apos;s lighted parade, the community 
                    switches on its the holiday lights &lpar;7 p.m. Friday&rpar; On Saturday, say hi to Santa, watch the Rudolph 
                    Olympics, shop for gifts and more. For information: <a href="https://www.gowerareachamberofcommerce.com/">Click Here</a>
                </p>
            </div>
            <div class="d-block d-md-none col-12">
                <p class="section-text">
                    Gower&mdash;Christmas in the Park, December 13-14, 2024. Just before the town&apos;s lighted parade, the community 
                    switches on its the holiday lights &lpar;7 p.m. Friday&rpar; On Saturday, say hi to Santa, watch the Rudolph 
                    Olympics, shop for gifts and more. For information: <a href="https://www.gowerareachamberofcommerce.com/">Click Here</a>
                </p>
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/christmas/christmas_2_3x2.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <p class="section-text">
                    Lathrop&mdash;Christmas Wonderland on Oak Street, Saturday, December 14, 2024. Events begin at 4p.m. and include 
                    free fun for the whole family! Vendors, photo booths, meet Santa, photo booths, train rides, lighted parade, and 
                    MORE! This annual event is hosted by Middle Road Productions. For information: 
                    <a href="https://www.facebook.com/middleroadproductions/">Click Here</a>
                </p>
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/christmas/christmas_3_3x2.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="d-none d-md-block col-md-6 order-first">
                <p class="section-text">
                    Plattsburg&mdash;Community Christmas, December 6-7, 2024. Friday afternoon at the Community Courtyard kicks off 
                    with local crafts and vendors, chili and homemade soups at the annual Forever Christmas event. Free train rides 
                    wind through Plattsburg neighborhoods and Santa shows up at the Backyard entertainment venue. The evening peaks 
                    with a spectacular lighted parade that arrives downtown at 7 p.m. Saturday the fun continues with the Forever 
                    Christmas Bazaar from 9 a.m. to 4 p.m. At the same time, Plattsburg offers a sumptuous tour of homes. Five of its 
                    historic homes open their doors to show off their sparkling Christmas decorations. For more info: 
                    <a href="https://plattsburgchamber.org">Click Here</a>
                </p>
            </div>
            <div class="d-block d-md-none col-12">
                <p class="section-text">
                    Plattsburg&mdash;Community Christmas, December 6-7, 2024. Friday afternoon at the Community Courtyard kicks off 
                    with local crafts and vendors, chili and homemade soups at the annual Forever Christmas event. Free train rides 
                    wind through Plattsburg neighborhoods and Santa shows up at the Backyard entertainment venue. The evening peaks 
                    with a spectacular lighted parade that arrives downtown at 7 p.m. Saturday the fun continues with the Forever 
                    Christmas Bazaar from 9 a.m. to 4 p.m. At the same time, Plattsburg offers a sumptuous tour of homes. Five of its 
                    historic homes open their doors to show off their sparkling Christmas decorations. For more info: 
                    <a href="https://plattsburgchamber.org">Click Here</a>
                </p>
            </div>
        </div>
    </div>  
</div>
{% endblock %}