{% extends "layout.html" %}
{% load static %}

{% block seo %}
 <title>
    Events | Clinton County, Missouri
 </title>
 <meta name="description" property="og:description" content="Events in Clinton County, Missouri.">
 <meta name="keywords" content="events, clinton county, missouri">
 <meta property="og:title" content="Events | Clinton County, Missouri">
 <meta property="og:type" content="website">
 <meta property="og:url" content="https://www.visitclintoncomo.com/events-to-enjoy/">
 <meta property="og:image" content="{% static 'img/home_page/pv_river_4x3.avif' %}">
 <meta property="og:image:width" content="200">
 <meta property="og:image:height" content="200">
 <meta property="og:site_name" content="Discover Clinton County, Missouri">
 <meta property="og:locale" content="en_US">
 <meta property="og:image:alt" content="Image alt example">
 <meta property="og:image:type" content="image/avif">
 <meta name="twitter:card" content="summary">
{% endblock %}

{% block skiplink %}
<a href="#events-content" class="visually-hidden-focusable skip-link">Skip main navigation</a>
{% endblock skiplink %}

{% block content %}
<div id="events-content" class="container-fluid m-0 p-0">
    <section class="hero mb-5">
        <img src="{% static 'img/bg_up_2.avif' %}" class="img-fluid" alt="Background image of girl doing cartwheel on hay bales.">
    </section>
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col justify-content-center">
                <h1 class="section-title" keywords="events, clinton county, missouri">
                    Events To Enjoy
                </h1>
                <div class="btn-group d-flex flex-wrap justify-content-center" role="group" aria-label="Basic checkbox toggle button group">
                    {% for category in categories_list %}
                    <div>
                        <button type="button" class="btn {% if request.GET.categories == category.value %}btn-success {% else %}btn-outline-success{% endif %} btn-lg m-1" onclick="filterCategories('{{ category.value }}')">{{ category.name }}</button>
                    </div>
                    {% endfor %}
                </div>
                <div class="row p-2">
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <label for="eventsCityFilter" class="form-label">Filter by City:</label>
                        <select id="eventsCityFilter" class="form-select" onchange="filterCity(this.value)">
                            <option value="all">All</option>
                            {% for city in cities_list %}
                                <option value="{{ city.value }}" {% if request.GET.city == city.value %}selected{% endif %}>{{ city.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <label for="eventsSortFilter" class="form-label">Sort By:</label>
                        <select id="eventsSortFilter" class="form-select" onchange="filterSort(this.value)">
                            <option value="recommended" {% if request.GET.sort == 'recommended' %}selected{% endif %}>Recommended</option>
                            <option value="upcoming" {% if request.GET.sort == 'upcoming' %}selected{% endif %}>Upcoming</option>
                            <option value="past" {% if request.GET.sort == 'past' %}selected{% endif %}>Past</option>
                            <option value="az" {% if request.GET.sort == 'az' %}selected{% endif %}>Alphabetical &#91;A-Z&#93;</option>
                            <option value="za" {% if request.GET.sort == 'za' %}selected{% endif %}>Alphabetical &#91;Z-A&#93;</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3 p-2" id="eventsContainer">
            {% for event in events %}
                <div class="col" data-category="{{ event.get_filter_subtypes }}" data-city="{{ event.city }}" data-name="{{ event.name }}" data-featured="{{ event.featured }}">
                    <div class="card h-100">
                        <div class="bg-success">
                            {% if event.image %}
                                <img src="{{ event.image.url }}" class="card-img-top" alt="...">
                            {% elif event.city == 'cameron' %}
                                <img src="{% static 'img/maps/cameron_map.avif' %}" class="card-img-top bg-success opacity-50" alt="...">
                            {% elif event.city == 'gower' %}
                                <img src="{% static 'img/maps/gower_map.avif' %}" class="card-img-top bg-success opacity-50" alt="...">
                            {% elif event.city == 'holt' %}
                                <img src="{% static 'img/maps/holt_map.avif' %}" class="card-img-top bg-success opacity-50" alt="...">
                            {% elif event.city == 'lathrop' %}
                                <img src="{% static 'img/maps/lathrop_map.avif' %}" class="card-img-top bg-success opacity-50" alt="...">
                            {% elif event.city == 'lawson' %}
                                <img src="{% static 'img/maps/lawson_map.avif' %}" class="card-img-top bg-success opacity-50" alt="...">
                            {% elif event.city == 'osborn' %}
                                <img src="{% static 'img/maps/osborn_map.avif' %}" class="card-img-top bg-success opacity-50" alt="...">
                            {% elif event.city == 'plattsburg' %}
                                <img src="{% static 'img/maps/plattsburg_map.avif' %}" class="card-img-top bg-success opacity-50" alt="...">
                            {% elif event.city == 'trimble' %}
                                <img src="{% static 'img/maps/trimble_map.avif' %}" class="card-img-top bg-success opacity-50" alt="...">
                            {% elif event.city == 'turney' %}
                                <img src="{% static 'img/maps/turney_map.avif' %}" class="card-img-top bg-success opacity-50" alt="...">
                            {% else %}
                                <img src="{% static 'img/maps/cc_map.avif' %}" class="card-img-top bg-success opacity-50" alt="...">
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <p class="card-text text-success fw-bold">{{ event.city|title }}</p>
                            <p class="fs-5 card-title fw-bold">{{ event.name }}</p>
                            {% if event.featured %}
                                <span class="badge bg-warning text-dark">Featured</span>
                            {% endif %}
                            {% if event.start_date %}
                                <p class="card-text"><span class="fw-bold">Start: </span> {{ event.start_date|date:"F j, Y" }}</p>
                            {% endif %}
                            {% if event.end_date %}
                                <p class="card-text"><span class="fw-bold">End: </span> {{ event.end_date|date:"F j, Y" }}</p>
                            {% endif %}
                            {% if event.description %}
                                <p class="card-text">{{ event.description }}</p>
                            {% else %}
                                <p class="card-text">{{ event.get_filter_subtypes|title }}</p>
                            {% endif %}
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'events:event_detail' event.slug %}" class="btn btn-outline-success stretched-link">View Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row mt-3">
            <div class="col p-3">
                <nav aria-label="Event navigation">
                    <ul class="pagination justify-content-center">
                        {% if events.has_previous %}
                            {% with categories=request.GET.categories city=request.GET.city sort=request.GET.sort %}
                            <li class="page-item">
                                <a class="page-link" href="?categories={{ categories }}&city={{ city }}&sort={{ sort }}&page=1" aria-label="First">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?categories={{ categories }}&city={{ city }}&sort={{ sort }}&page={{ events.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&lsaquo;</span>
                                </a>
                            </li>
                            {% endwith %}
                        {% endif %}
                            <li class="page-item pt-1">
                                <span class="mx-2">Page {{ events.number }} of {{ events.paginator.num_pages }}</span>
                            </li>
                        {% if events.has_next %}
                            {% with categories=request.GET.categories city=request.GET.city sort=request.GET.sort %}
                            <li class="page-item">
                                <a class="page-link" href="?categories={{ categories }}&city={{ city }}&sort={{ sort }}&page={{ events.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&rsaquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?categories={{ categories }}&city={{ city }}&sort={{ sort }}&page={{ events.paginator.num_pages }}" aria-label="Last">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            {% endwith %}
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<script>
    function makeCall(categories, city, sort, page) {
        let filterData = {
            categories: categories,
            city: city,
            sort: sort
        };

        let queryString = Object.keys(filterData).map(key => key + '=' + filterData[key]).join('&');
        window.location.href = `/events-to-enjoy/filtered/?${queryString}`;
    }

    function filterCategories(category) {
        let selectedCity = "{{ request.GET.city|default:'all' }}";
        let selectedSort = "{{ request.GET.sort|default:'recommended' }}";
        let selectedCategories = "{{ request.GET.categories }}" == category ? "all" : category;
        makeCall(selectedCategories, selectedCity, selectedSort);
    }

    function filterCity(city) {
        let selectedCategories = "{{ request.GET.categories|default:'all' }}";
        let selectedSort = "{{ request.GET.sort|default:'recommended' }}";
        makeCall(selectedCategories, city, selectedSort);
    }

    function filterSort(sort) {
        let selectedCategories = "{{ request.GET.categories|default:'all' }}";
        let selectedCity = "{{ request.GET.city|default:'all' }}";
        makeCall(selectedCategories, selectedCity, sort);
    }
</script>
{% endblock %}