{% extends "layout.html" %}
{% load static %}

{% block seo %}
 <title>
    {{ event.name }} | Clinton County, Missouri
 </title>
 <meta name="description" property="og:description" content="{{ event.description }}">
 <meta name="keywords" content="{{ event.get_filter_types|title }}, Clinton County, Missouri, events">
 <meta property="og:title" content="{{ event.name }} | Clinton County, Missouri">
 <meta property="og:type" content="website">
 <meta property="og:url" content="https://www.visitclintoncomo.com/events-to-enjoy/{{ event.slug }}">
 <meta property="og:image" content="{% static 'img/home_page/pv_river_4x3.avif' %}">
 <meta property="og:image:width" content="200">
 <meta property="og:image:height" content="200">
 <meta property="og:site_name" content="Discover Clinton County, Missouri">
 <meta property="og:locale" content="en_US">
 <meta property="og:image:alt" content="Image alt example">
 <meta property="og:image:type" content="image/avif">
 <meta name="twitter:card" content="summary">
{% endblock %}

{% block content %}
<div class="container-fluid pb-5 m-0 px-0" style="background-color: #f3e7dc;">
    <section class="hero mb-5">
        <img src="{% static 'img/bg_up_2.avif' %}" class="img-fluid" alt="Background image of girl doing cartwheel on hay bales.">
        <div class="z-3 position-absolute text-light text-center"></div>
    </section>
    <div class="container rounded-3 border border-dark shadow-lg p-3 my-5 bg-light">
        <div class="m-3">
            <h1 class="section-title my-3">
                {{ event.name }}
            </h1>
        </div>
        <div class="event-details">
            {% if event.start_date %}
            <h3><span class="fw-bold">Start Date:</span> {{ event.start_date|date:"F j, Y" }}</h3>
            {% endif %}
            {% if event.end_date %}
            <h3><span class="fw-bold">End Date:</span> {{ event.end_date|date:"F j, Y" }}</h3>
            {% endif %}
            {% if event.description %}
            <h3><span class="fw-bold">Description:</span><br><span class="p-3">{{ event.description }}</span></h3>
            {% else %}
            <h3><span class="fw-bold">Description:</span><br><span class="p-3">{{ event.get_filter_subtypes|title }}</span></h3>
            {% endif %}
            <h3><span class="fw-bold">Address:</span> {{ event.address|capfirst }} {{ event.city|capfirst }}, MO</h3>
            <h3><span class="fw-bold">Phone:</span> {{ event.phone_number }}</h3>
            {% if event.external_link %}
            <h3><span>For more info:</span> <a href="{{ event.external_link }}" class="btn btn-outline-primary btn-lg" target="_blank" rel="noopener noreferrer">Click Here</a></h3>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}