{% extends "layout.html" %}
{% load static %}

{% block title %}Lathrop Living History Festival{% endblock %}

{% block content %}
<div class="container-fluid p-5" style="background-color: #DAB28F;">
    <div class="container rounded-3 border border-dark shadow-lg p-3 mt-5" style="background-color: #f3e7dc;">
        <div class="m-3">
            <div class="section-title my-3">
                Lathrop Living History Festival
            </div>
            <div class="section-text">
                Step back into the 1800s at the Lathrop Antique Show Ground&apos;s Annual Living History Festival! There&apos;s 
                nothing like it in northwest Missouri.
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/living_history/living_history_0_4x3.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="col-12 col-md-6">
                <p class="section-text">
                    For THREE full days, &lpar;second weekend in October each year&rpar; enjoy immersive experiences of the 
                    past &mdash;stir apple butter, dip candles, churn butter, shuck corn, crush rocks, watch the process of 
                    making sorghum, take home a printed card from an antique printing press, indulge in delicious apple fritters 
                    and apple cider.
                </p>
            </div>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/living_history/living_history_1_4x3.avif' %}" alt="" class="img-fluid rounded-3">
            </div>
            <div class="d-none d-md-block col-md-6 order-first">
                <p class="section-text">
                    Take a class in the Walnut Grove One Room School and play old fashioned games in the schoolyard. Enjoy teepees 
                    and other demonstrations from the Indian Council of Many Nations. You can even get a haircut in the old Barber 
                    Shop and learn to spit sunflower seeds in the nearby spittoon. And don&apos;t forget to stop by the General 
                    Store for old-fashioned goodies and much, much more!
                </p>
            </div>
            <div class="d-block d-md-none col-12">
                <p class="section-text">
                    Take a class in the Walnut Grove One Room School and play old fashioned games in the schoolyard. Enjoy teepees 
                    and other demonstrations from the Indian Council of Many Nations. You can even get a haircut in the old Barber 
                    Shop and learn to spit sunflower seeds in the nearby spittoon. And don&apos;t forget to stop by the General 
                    Store for old-fashioned goodies and much, much more!
                </p>
            </div>
        </div>
        <div class="section-subtitle">
            Bring the whole family for a fun, educational, and unforgettable weekend! For more details, visit 
            <a href="lathropantique.com">Lathrop Antique</a>.
        </div>
    </div>  
</div>
{% endblock %}