
<footer class="container">
    <div class="row w-100">
        <div class="contact-us-menu col-10 col-md-3">
            <div class="menu-heading">Contact Us</div>
            <ul>
                <li class="menu-item">
                    <a class="menu-item-text " href="{% url 'coming_soon' %}" target="_self">
                        <span class="first-word ">Email</span>
                        <span class="non-first-words "> Us</span>
                    </a>
                    </li>
                <li class="menu-item">
                    <a class="menu-item-text " href="{% url 'coming_soon' %}" target="_blank">
                        <span class="first-word ">Call</span>
                        <span class="non-first-words ">1 (555) 555-5555</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="rest-of-footer col-10 col-md-8">
            <div class="additional-links-menu w-100">
                <div class="menu-heading">Resources</div>
                <div class="row w-100">
                    <div class="col">
                        <ul>
                            <li class="menu-item">
                                <a class="menu-item-text " href="{% url 'coming_soon' %}" target="_blank">
                                    <span class="first-word ">Resource</span>
                                    <span class="non-first-words ">1</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-item-text " href="{% url 'coming_soon' %}" target="_blank">
                                    <span class="first-word ">Resource</span>
                                    <span class="non-first-words ">2</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-item-text " href="{% url 'coming_soon' %}" target="_blank">
                                    <span class="first-word ">Resource</span>
                                    <span class="non-first-words ">3</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-item-text " href="{% url 'coming_soon' %}" target="_self">
                                    <span class="first-word ">Resource</span>
                                    <span class="non-first-words ">4</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li class="menu-item">
                                <a class="menu-item-text " href="{% url 'coming_soon' %}" target="_blank">
                                    <span class="first-word ">Resource</span>
                                    <span class="non-first-words ">5</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-item-text " href="{% url 'coming_soon' %}" target="_blank">
                                    <span class="first-word ">Resource</span>
                                    <span class="non-first-words ">6</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-item-text " href="{% url 'coming_soon' %}" target="_blank">
                                    <span class="first-word ">Resource</span>
                                    <span class="non-first-words ">7</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-item-text " href="{% url 'coming_soon' %}" target="_self">
                                    <span class="first-word ">Resource</span>
                                    <span class="non-first-words ">8</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li class="menu-item">
                                <a class="menu-item-text " href="{% url 'coming_soon' %}" target="_blank">
                                    <span class="first-word ">Resource</span>
                                    <span class="non-first-words ">9</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-item-text " href="{% url 'coming_soon' %}" target="_blank">
                                    <span class="first-word ">Resource</span>
                                    <span class="non-first-words ">10</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-item-text " href="{% url 'coming_soon' %}" target="_blank">
                                    <span class="first-word ">Resource</span>
                                    <span class="non-first-words ">11</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-item-text " href="{% url 'coming_soon' %}" target="_self">
                                    <span class="first-word ">Resource</span>
                                    <span class="non-first-words ">12</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="row m-4 p-4">
    <div class="fs-6">
        <div class="flex-filler"></div>
        <span>&copy; {% now "Y" %} Clinton County Tourism</span>
        <span class="divider" > | </span>
        <span>All Rights Reserved</span>
    </div>
</div>
