{% load static %}

<hr class="border-top border-dark" />
<footer class="container-fluid">
    <div class="row w-100">
        <div class="ms-4 p-4 col-12 col-lg-3">
            <div class="menu-heading">Contact Us</div>
            <ul>
                <li class="menu-item">
                    <a class="menu-item-text " href="{% url 'coming_soon' %}" target="_self">
                        <span class="first-word ">Email</span>
                        <span class="non-first-words "> Us</span>
                    </a>
                    </li>
                <li class="menu-item">
                    <a class="menu-item-text " href="{% url 'coming_soon' %}" target="_blank">
                        <span class="first-word ">Call</span>
                        <span class="non-first-words ">1 (555) 555-5555</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="p-4 col-12 col-lg-8 border-dark resource-border">
            <div class="w-100">
                <div class="menu-heading">Resources</div>
                <div class="row w-100">
                    <div class="col-12 col-md-6 col-xl-4">
                        <ul>
                            <li class="menu-item">
                                <a class="menu-item-text " href="{% url 'coming_soon' %}" target="_blank">
                                    <span class="first-word ">ALL</span>
                                    <span class="non-first-words ">RESOURCES</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-item-text " href="{% url 'about' %}" target="_blank">
                                    <span class="first-word ">WHO</span>
                                    <span class="non-first-words ">WE ARE</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-item-text " href="{% url 'privacy_policy' %}" target="_blank">
                                    <span class="first-word ">PRIVACY</span>
                                    <span class="non-first-words ">POLICY</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-item-text " href="{% url 'legal_statement' %}" target="_self">
                                    <span class="first-word ">LEGAL</span>
                                    <span class="non-first-words ">STATEMENT</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-item-text " href="{% url 'coming_soon' %}" target="_blank">
                                    <span class="first-word ">SITE</span>
                                    <span class="non-first-words ">MAP</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-6 col-xl-4">
                        <ul>
                            <li class="menu-item">
                                <a class="menu-item-text " href="{% url 'coming_soon' %}" target="_blank">
                                    <span class="first-word ">CITY</span>
                                    <span class="non-first-words ">OF CAMERON</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-item-text " href="{% url 'coming_soon' %}" target="_blank">
                                    <span class="first-word ">CITY</span>
                                    <span class="non-first-words ">OF GOWER</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-item-text " href="{% url 'coming_soon' %}" target="_blank">
                                    <span class="first-word ">CITY</span>
                                    <span class="non-first-words ">OF HOLT</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-item-text " href="{% url 'coming_soon' %}" target="_self">
                                    <span class="first-word ">CITY</span>
                                    <span class="non-first-words ">OF LATHROP</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-item-text " href="{% url 'coming_soon' %}" target="_blank">
                                    <span class="first-word ">CITY</span>
                                    <span class="non-first-words ">OF LAWSON</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-6 col-xl-4">
                        <ul>
                            <li class="menu-item">
                                <a class="menu-item-text " href="{% url 'coming_soon' %}" target="_blank">
                                    <span class="first-word ">CITY</span>
                                    <span class="non-first-words ">OF OSBORN</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-item-text " href="{% url 'coming_soon' %}" target="_blank">
                                    <span class="first-word ">CITY</span>
                                    <span class="non-first-words ">OF PLATTSBURG</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-item-text " href="{% url 'coming_soon' %}" target="_self">
                                    <span class="first-word ">CITY</span>
                                    <span class="non-first-words ">OF TRIMBLE</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-item-text " href="{% url 'coming_soon' %}" target="_blank">
                                    <span class="first-word ">CITY</span>
                                    <span class="non-first-words ">OF TURNEY</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="row m-4 p-4">
    <div class="fs-6">
        <div class="flex-filler"></div>
        <span>&copy; {% now "Y" %} <img src="{% static 'icons/icon_and_name.png' %}" alt="" style="width: 150px;"></span>
        <span class="divider px-2" > | </span>
        <span>All Rights Reserved</span>
    </div>
</div>

<script>
    // get resource border
    var resourceBorder = document.querySelector('.resource-border');

    // if screen width is less than 992px add top-border pt-3
    if (window.matchMedia("(max-width: 992px)").matches) {
        resourceBorder.classList.add('pt-5', 'border-top', 'ms-4');
        resourceBorder.classList.remove('border-start');
    } else {
        resourceBorder.classList.remove('pt-5', 'border-top', 'ms-4');
        resourceBorder.classList.add('border-start');
    }
</script>
