{% load static %}
<footer class="container-fluid border-top border-dark pt-5 ps-4" role="contentinfo">
    <div class="row w-100 mt-5">
        <div class="col-12 col-md-3 col-lg-4">
            <ul class="list-group">
                <li class="list-group-item border-0 fw-bold">
                    RESOURCES
                </li>
                <li class="list-group-item border-0">
                    <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'resources:resource_list' %}" target="_self" aria-label="Go to all resources page">
                        <span class="first-word ">ALL</span>
                        <span class="non-first-words ">RESOURCES</span>
                    </a>
                </li>
                <li class="list-group-item border-0">
                    <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'about' %}" target="_self" aria-label="Go to who we are page">
                        <span class="first-word ">WHO</span>
                        <span class="non-first-words ">WE ARE</span>
                    </a>
                </li>
                <li class="list-group-item border-0">
                    <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'privacy_policy' %}" target="_self" aria-label="Go to privacy policy page">
                        <span class="first-word ">PRIVACY</span>
                        <span class="non-first-words ">POLICY</span>
                    </a>
                </li>
                <li class="list-group-item border-0">
                    <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'legal_statement' %}" target="_self" aria-label="Go to legal statement page">
                        <span class="first-word ">LEGAL</span>
                        <span class="non-first-words ">STATEMENT</span>
                    </a>
                </li>
                <li class="list-group-item border-0">
                    <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'django.contrib.sitemaps.views.sitemap' %}" target="_self" aria-label="Go to site map page">
                        <span class="first-word ">SITE</span>
                        <span class="non-first-words ">MAP</span>
                    </a>
                </li>
                <li class="list-group-item border-0">
                    <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'contact' %}" target="_self" aria-label="Go to contact us form page">
                        <span class="first-word ">CONTACT</span>
                        <span class="non-first-words "> US</span><br>
                        <hr>
                        <span class="first-word">EMAIL: </span><br>
                        <span class="non-first-words">connect&#64;clintoncoinitiative.org</span>
                    </a> 
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-3 col-lg-4">
            <ul class="list-group">
                <li class="list-group-item border-0 fw-bold">
                    CITIES
                </li>
                <li class="list-group-item border-0">
                    <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://www.cameronmo.com/" target="_blank" rel="noopener noreferrer" aria-label="Go to City of Cameron website (opens in a new tab)">
                        <span class="first-word ">CITY</span>
                        <span class="non-first-words ">OF CAMERON</span>
                    </a>
                </li>
                <li class="list-group-item border-0">
                    <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://www.gowermo.com/" target="_blank" rel="noopener noreferrer" aria-label="Go to City of Gower website (opens in a new tab)">
                        <span class="first-word ">CITY</span>
                        <span class="non-first-words ">OF GOWER</span>
                    </a>
                </li>
                <li class="list-group-item border-0">
                    <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://www.cityofholt.com/" target="_blank" rel="noopener noreferrer" aria-label="Go to City of Holt website (opens in a new tab)">
                        <span class="first-word ">CITY</span>
                        <span class="non-first-words ">OF HOLT</span>
                    </a>
                </li>
                <li class="list-group-item border-0">
                    <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://www.cityoflathropmo.org/" target="_blank" rel="noopener noreferrer" aria-label="Go to City of Lathrop website (opens in a new tab)">
                        <span class="first-word ">CITY</span>
                        <span class="non-first-words ">OF LATHROP</span>
                    </a>
                </li>
                <li class="list-group-item border-0">
                    <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://lawsonmo.gov/" target="_blank" rel="noopener noreferrer" aria-label="Go to City of Lawson website (opens in a new tab)">
                        <span class="first-word ">CITY</span>
                        <span class="non-first-words ">OF LAWSON</span>
                    </a>
                </li>
                <li class="list-group-item border-0">
                    <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://cityofosborn.com/" target="_blank" rel="noopener noreferrer" aria-label="Go to City of Osborn website (opens in a new tab)">
                        <span class="first-word ">CITY</span>
                        <span class="non-first-words ">OF OSBORN</span>
                    </a>
                </li>
                <li class="list-group-item border-0">
                    <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://www.plattsburg-mo.gov/" target="_blank" rel="noopener noreferrer" aria-label="Go to City of Plattsburg website (opens in a new tab)">
                        <span class="first-word ">CITY</span>
                        <span class="non-first-words ">OF PLATTSBURG</span>
                    </a>
                </li>
                <li class="list-group-item border-0">
                    <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://www.cityofstewartsville.com/" target="_blank" rel="noopener noreferrer" aria-label="Go to City of Stewartsville website (opens in a new tab)">
                        <span class="first-word ">CITY</span>
                        <span class="non-first-words ">OF STEWARTSVILLE</span>
                    </a>
                </li>
                <li class="list-group-item border-0">
                    <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="http://trimblemissouri.org/" target="_blank" rel="noopener noreferrer" aria-label="Go to City of Trimble website (opens in a new tab)">
                        <span class="first-word ">CITY</span>
                        <span class="non-first-words ">OF TRIMBLE</span>
                    </a>
                </li>
                <li class="list-group-item border-0">
                    <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'coming_soon' %}" target="_blank" rel="noopener noreferrer" aria-label="Not available, Go to coming soon page" aria-disabled="true">
                        <span class="first-word ">CITY</span>
                        <span class="non-first-words ">OF TURNEY</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <ul class="list-group">
                <li class="list-group-item border-0 fw-bold">
                    CHAMBERS
                </li>
                <li class="list-group-item border-0">
                    <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://cameronmochamber.com/" target="_blank" rel="noopener noreferrer" aria-label="Go to Cameron Chamber of Commerce website (opens in a new tab)">
                        <span class="first-word ">CAMERON</span>
                        <span class="non-first-words ">CHAMBER OF COMMERCE</span>
                    </a>
                </li>
                <li class="list-group-item border-0">
                    <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://www.gowerareachamberofcommerce.com/" target="_blank" rel="noopener noreferrer" aria-label="Go to Gower Chamber of Commerce website (opens in a new tab)">
                        <span class="first-word ">GOWER</span>
                        <span class="non-first-words ">CHAMBER OF COMMERCE</span>
                    </a>
                </li>
                <li class="list-group-item border-0">
                    <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'coming_soon' %}" target="_blank" rel="noopener noreferrer" aria-label="Not available, Go to coming soon page" aria-disabled="true">
                        <span class="first-word ">HOLT</span>
                        <span class="non-first-words ">CHAMBER OF COMMERCE</span>
                    </a>
                </li>
                <li class="list-group-item border-0">
                    <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://www.lathropareachamberofcommerce.org/" target="_blank" rel="noopener noreferrer" aria-label="Go to Lathrop Chamber of Commerce website (opens in a new tab)">
                        <span class="first-word ">LATHROP</span>
                        <span class="non-first-words ">CHAMBER OF COMMERCE</span>
                    </a>
                </li>
                <li class="list-group-item border-0">
                    <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://lawsonchamberofcommerce.wildapricot.org/" target="_blank" rel="noopener noreferrer" aria-label="Go to Lawson Chamber of Commerce website (opens in a new tab)">
                        <span class="first-word ">LAWSON</span>
                        <span class="non-first-words ">CHAMBER OF COMMERCE</span>
                    </a>
                </li>
                <li class="list-group-item border-0">
                    <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'coming_soon' %}" target="_blank" rel="noopener noreferrer" aria-label="Not available, Go to coming soon page" aria-disabled="true">
                        <span class="first-word ">OSBORN</span>
                        <span class="non-first-words ">CHAMBER OF COMMERCE</span>
                    </a>
                </li>
                <li class="list-group-item border-0">
                    <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://plattsburgchamber.org/" target="_blank" rel="noopener noreferrer" aria-label="Go to Plattsburg Chamber of Commerce website (opens in a new tab)">
                        <span class="first-word ">PLATTSBURG</span>
                        <span class="non-first-words ">CHAMBER OF COMMERCE</span>
                    </a>
                </li>
                <li class="list-group-item border-0">
                    <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'coming_soon' %}" target="_blank" rel="noopener noreferrer" aria-label="Not available, Go to coming soon page" aria-disabled="true">
                        <span class="first-word ">STEWARTSVILLE</span>
                        <span class="non-first-words ">CHAMBER OF COMMERCE</span>
                    </a>
                </li>
                <li class="list-group-item border-0">
                    <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'coming_soon' %}" target="_blank" rel="noopener noreferrer" aria-label="Not available, Go to coming soon page" aria-disabled="true">
                        <span class="first-word ">TRIMBLE</span>
                        <span class="non-first-words ">CHAMBER OF COMMERCE</span>
                    </a>
                </li>
                <li class="list-group-item border-0">
                    <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'coming_soon' %}" target="_blank" rel="noopener noreferrer" aria-label="Not available, Go to coming soon page" aria-disabled="true">
                        <span class="first-word ">TURNEY</span>
                        <span class="non-first-words ">CHAMBER OF COMMERCE</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row my-4 py-4">
        <div class="fs-6">
            <div class="flex-filler"></div>
            <span>&copy; {% now "Y" %} <img src="{% static 'icons/icon_and_name.png' %}" alt="Clinton County Initiative Icon" style="width: 150px;"></span>
            <span class="divider px-2" > | </span>
            <span>All Rights Reserved</span>
        </div>
    </div>
</footer>
