.amaranth-regular {
    font-family: "Amaranth", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.amaranth-bold {
    font-family: "Amaranth", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.amaranth-regular-italic {
    font-family: "Amaranth", sans-serif;
    font-weight: 400;
    font-style: italic;
}
  
.amaranth-bold-italic {
    font-family: "Amaranth", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.brush-script {
    font-family: "Brush Script MT", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.petit-formal-script-regular {
    font-family: "Petit Formal Script", cursive;
    font-weight: 700;
    font-style: bold;
}

.font-size-1 {
    font-size: 4em;
}

.font-size-2 {
    font-size: 2em;
}

.font-size-3 {
    font-size: 1.3em;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}
  
.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.small-img {
    width: 100px;
    height: 100px;
}

.small-img:hover {
    transform: scale(1.1);
}

.medium-img {
    width: 200px;
    height: 200px;
}

.medium-img:hover {
    transform: scale(1.1);
}


.featured-content-1x4-component{padding:94px 30px 54px;overflow:hidden}@media (max-width:767px){.featured-content-1x4-component{padding-right:0}}.featured-content-1x4-component .featured-content-1x4-container{width:100%;max-width:1000px;margin-left:auto;margin-right:auto}.featured-content-1x4-component .featured-content-1x4-title{margin-top:20px;margin-bottom:10px;font-size:2.5rem;color:#000}.featured-content-1x4-component .featured-content-1x4-group{margin-top:80px}@media (max-width:767px){.featured-content-1x4-component .featured-content-1x4-group{margin-top:0}}.featured-content-1x4-component .featured-content-1x4-image{position:relative;display:block}.featured-content-1x4-component .featured-content-1x4-image img.fc-1x4-item-image{width:100%;height:100%;object-fit:cover}.featured-content-1x4-component .img-title{position:absolute;color:#fff}.featured-content-1x4-component .featured-content-1x4-image .img-title{bottom:60px;left:30px;width:163px}@media (min-width:768px){.featured-content-1x4-component .featured-content-1x4-group-content.owl-carousel{aspect-ratio:1000/537.8;display:grid;grid-template-columns:9fr 4fr 4fr;grid-template-rows:1fr 1fr;row-gap:11.2%;column-gap:8.33%}.featured-content-1x4-component .featured-content-1x4-image .img-title{font-size:1.5rem}.featured-content-1x4-component .featured-content-1x4-image:nth-child(1){grid-column-start:1;grid-row-start:1;grid-column-end:2;grid-row-end:3}.featured-content-1x4-component .featured-content-1x4-image:nth-child(1) .img-title{bottom:62px;left:34px;width:208px;font-size:2rem}}      


.rich-text-section{position:relative;padding:30px}.rich-text-section h2.rich-text-title{max-width:1000px;margin:0 auto;font-size:2.125rem;text-transform:uppercase;padding:0 0 25px;width:100%;color:#262726;text-shadow:none}.rich-text-section .rich-text-container{max-width:1000px;margin:auto;font-size:1rem}.rich-text-section h3{font-size:2em}.rich-text-section img{max-width:100%}      


.hero{position:relative;width:100%;overflow:visible;background-color:#000}.hero img.hero-item-image{max-width:none;width:100%;height:auto}@media (max-width:767px){.resorts-page .hero{display:none}}@media (max-width:767px){.search-main .hero{display:none}}.hero.hero-full-size .hero-content{aspect-ratio:1.5}@media (max-width:767px){.hero.hero-full-size .hero-content{aspect-ratio:.8205128205}}.hero.hero-half-size .hero-content{aspect-ratio:2.4489795918}@media (max-width:767px){.hero.hero-half-size .hero-content{aspect-ratio:.8205128205}}.hero.hero-third-size .hero-content{aspect-ratio:3.1578947368}@media (max-width:767px){.hero.hero-third-size .hero-content{aspect-ratio:1}}.hero.hero-quarter-size .hero-content,.hero.hero-quarter-size-with-text .hero-content{aspect-ratio:4.6153846154}@media (max-width:767px){.hero.hero-quarter-size .hero-content,.hero.hero-quarter-size-with-text .hero-content{aspect-ratio:1.28}}.hero>.hero-content:has(.video-wrapper){aspect-ratio:auto}.hero-overlay{position:absolute;left:0}.hero-overlay p,.hero-overlay a,.hero-overlay h1,.hero-overlay h2,.hero-overlay h3,.hero-overlay h4{color:#fff}.hero-full-size .hero-overlay{text-align:left;width:320px;margin-left:50px}@media all and (max-width:767px){.hero-full-size .hero-overlay{margin-left:34px}}.hero-half-size .hero-overlay,.hero-third-size .hero-overlay{text-align:center;width:100%;padding:0 15px}.hero-half-size .hero-overlay .overlay-button,.hero-third-size .hero-overlay .overlay-button{display:none}.hero-quarter-size .hero-overlay{display:none}.hero-quarter-size-with-text .hero-overlay{width:fit-content;width:-moz-fit-content;height:fit-content;height:-moz-fit-content;position:absolute;left:0;right:0;margin:auto;text-align:center}@media (min-width:768px){.hero-quarter-size-with-text .hero-overlay{bottom:50px}}@media (max-width:767px){.hero-quarter-size-with-text .hero-overlay{bottom:42px}}.hero-quarter-size-with-text .hero-overlay .overlay-subtitle,.hero-quarter-size-with-text .hero-overlay .overlay-button{display:none}.hero-full-size .hero-overlay{top:40vh;top:Min(40vh,40%);transform:translateY(-40%)}@media all and (min-width:768px){.hero-full-size .hero-overlay{top:60vh;top:Min(60vh,60%);transform:translateY(-60%)}}.hero-half-size .hero-overlay{top:50%;transform:translateY(-50%)}.hero-third-size .hero-overlay{top:50%;transform:translateY(-50%);margin-top:40px}.hero-third-size .hero-overlay .overlay-title{margin-bottom:0}.hero-third-size .hero-overlay .overlay-subtitle{margin:16px auto 0}.hero-overlay .overlay-title{letter-spacing:0;line-height:1;margin-bottom:16px;font-size:2.5rem}@media all and (min-width:992px){.hero-half-size .hero-overlay .overlay-title{font-size:3rem}}.hero-overlay .overlay-subtitle{margin:10px auto 30px;line-height:1;font-family:BourtonLineBold,Helvetica,Arial,sans-serif}@media all and (max-width:767px){.hero-overlay .overlay-subtitle{margin-top:15px}}@media all and (max-width:991px){.hero-overlay .overlay-subtitle{font-size:1rem}}.hero-overlay .overlay-button{margin:0;-webkit-box-shadow:1px 1px 3px rgba(0,0,0,.3),inset 1px 1px 3px rgba(0,0,0,.3);box-shadow:1px 1px 3px rgba(0,0,0,.3),inset 1px 1px 3px rgba(0,0,0,.3);width:auto;display:inline-block;border:1px solid #fff}      


.video-wrapper{aspect-ratio:1.7777777778;height:auto;margin-bottom:0;background-color:#000;overflow:hidden}.video-wrapper iframe,.video-wrapper video{width:100%;height:100%}@media all and (max-width:767px){.hero .video-wrapper{aspect-ratio:1}}@media all and (min-width:768px){.hero-half-size .video-wrapper{aspect-ratio:2.4489795918}.hero-third-size .video-wrapper{aspect-ratio:3.1578947368}.hero-quarter-size .video-wrapper{aspect-ratio:4.6153846154}.hero-quarter-size-with-text .video-wrapper{aspect-ratio:4.6153846154}}.hero .video-wrapper video{object-fit:cover}.video-wrapper .video-overlay{position:absolute;left:50%;top:51%;transform:translate(-50%,-50%);max-width:307px}@media all and (max-width:767px){.video-wrapper .video-overlay{max-width:200px}}.video-wrapper .video-overlay-image{width:100%;display:block}.video-wrapper .video-overlay-active-image{width:100%;display:none}.video-wrapper a:hover .video-overlay-image,.video-wrapper span:hover .video-overlay-image,.video-wrapper a:focus .video-overlay-image{display:none}.video-wrapper a:hover .video-overlay-active-image,.video-wrapper span:hover .video-overlay-active-image,.video-wrapper a:focus .video-overlay-active-image{display:block}      
