.dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    right: auto;
    min-width: calc(100vw - 14px);
    z-index: 1
}
@media (max-width: 991px) {
    #layout-container {
        margin: 100px 0 0 0;
        padding: 0;
    }
    #main-navbar {
        background: rgba(248, 249, 250, 1) !important;
    }
    #navbarTogglerMenu {
        background: rgba(248, 249, 250, 1) !important;
    }

    .first-word.lvl1 {
        font-size: 1.1em;
        font-weight: 500;
    }
    
    .non-first-word.lvl1 {
        font-size: 0.7em;
    }

    .mobile-nav .nav-link {
        font-size: 1.2em;
        color: rgba(33, 37, 41, 1);
        background: rgba(248, 249, 250, 1);
        font-weight: 500;
        width: 100%;
        vertical-align: middle;
        display: flex;
        align-items: center;
        justify-content: center; /* Center horizontally */
    }
    .mobile-nav .nav-item:hover .nav-link{
        background: rgba(33, 37, 41, 1);
        color: rgba(248, 249, 250, 1);
    }
}
.dropdown-toggle::after {
    display: none;
}
.nav-item-no-scroll .nav-link{
    background: rgba(0,0,0,0);
    color: rgba(248, 249, 250, 1);
    text-shadow: 1px 1px 2px #000000;
}
.nav-item-no-scroll:hover .nav-link,
.nav-item-no-scroll-dropdown-open .nav-link {
    background: rgba(248, 249, 250, 1);
    color: rgba(33, 37, 41, 1);
    text-shadow: none;
}
.nav-item-no-scroll:hover .dropdown-caret,
.nav-item-no-scroll-dropdown-open .dropdown-caret,
.nav-item-scroll:hover .dropdown-caret,
.nav-item-scroll-dropdown-open .dropdown-caret {
    transform: rotate(180deg);
}
.nav-item-scroll .nav-link{
    background: rgba(248, 249, 250, 1);
    color: rgba(33, 37, 41, 1);
    text-shadow: none;
}
.nav-item-scroll:hover .nav-link,
.nav-item-scroll-dropdown-open .nav-link {
    background: rgba(33, 37, 41, 1);
    color: rgba(248, 249, 250, 1);
    text-shadow: none;
}
.dropdown-item:hover {
    background: rgba(33, 37, 41, 1);
    color: rgba(248, 249, 250, 1);
}
.bg-grad {
    background: linear-gradient(to bottom, rgba(191, 191, 191, 1), rgba(0, 0, 0, 0.0));
}
.navbar {
    transition: all 0.2s;
    height: 100px;
}
.lvl0 {
    min-width: 190px; 
}
.first-word.lvl1 {
    font-size: 1.3em;
    font-weight: 600;
}
.non-first-words.lvl1 {
    font-size: 1.1em;
    font-weight: 500;
}
.navbar-brand {
    margin: 0;
    width: 150px;
    min-height: 100px;
    letter-spacing: 3px;
}
.navbar-nav .nav-link {
    min-height: 100px;
    min-width: 150px;
}
@font-face {
    font-family: "raleway";
    src: local('Raleway'), url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}
.small-img {
    width: 100px;
    height: 100px;
}
.small-img:hover {
    transform: scale(1.1);
}
.medium-img {
    width: 200px;
    height: 200px;
}
.medium-img:hover {
    transform: scale(1.1);
}
.section-title, h1 {
    font-size: 2em;
    font-weight: 700;
    font-family: raleway, sans-serif;
    text-align: center;
}
.section-subtitle, h2 {
    font-size: 1.7em;
    font-weight: 500;
    font-family: raleway, sans-serif;
    text-align: center;
}
.section-text, p {
    font-size: 1.2em;
    font-weight: 400;
    font-family: raleway, sans-serif;
    margin-top: 1em;
}
.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
}
.carousel-item {
    transition: transform 1.5s ease-in-out;
}
img.hover-shadow {
    transition: 0.3s;
}
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.1);
}
.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-img-top {
    min-height: 300px;
}
.business-icon-circles {
    margin-top: -60px;
    width: 100px;
    height: 100px;
    background-color: #fff;
}
.link-icons {
    width: 70px;
    height: 70px;
}
.link-icons:hover {
    transform: scale(1.0);
    box-shadow: 0 0 0 0;
}
.business-card:hover {
    transform: scale(1.0);
    box-shadow: 0 0 0 0;
}
.business-card-group {
    margin-top: -40px;
}