
.dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    right: auto;
    min-width: calc(100vw - 14px);
    z-index: 1
}

@media (max-width: 991px) {
    #layout-container {
        margin: 100px 0 0 0;
        padding: 0;
    }
    #main-navbar {
        background: rgba(248, 249, 250, 1) !important;
    }
    #navbarTogglerMenu {
        background: rgba(248, 249, 250, 1) !important;
    }

    .navbar-brand {
        background: rgba(248, 249, 250, 1) !important;
        color: rgba(33, 37, 41, 1) !important;
    }
    
    .nav-item-no-scroll,
    .nav-item-scroll {
        background: rgba(248, 249, 250, 1);
    }
    
    .nav-item-scroll:hover,
    .nav-item-scroll-dropdown-open,
    .nav-item-no-scroll:hover,
    .nav-item-no-scroll-dropdown-open {
        background: rgba(33, 37, 41, 1) !important;
    }


    .nav-link-scroll,
    .nav-link-no-scroll {
        color: rgba(33, 37, 41, 1) !important;
        text-shadow: none !important;
    }
    
    .nav-link-no-scroll:hover,
    .nav-link-no-scroll-dropdown-open,
    .nav-link-scroll:hover,
    .nav-link-scroll-dropdown-open {
        color: rgba(248, 249, 250, 1) !important;
    }

    .first-word.lvl1 {
        font-size: 1.1em;
        font-weight: 500;
    }
    
    .non-first-word.lvl1 {
        font-size: 0.7em;
    }
}

.dropdown-toggle::after {
    display: none;
}

.nav-item-no-scroll {
    background: rgba(0,0,0,0);
}

.nav-item-no-scroll:hover,
.nav-item-no-scroll-dropdown-open {
    background: rgba(248, 249, 250, 1);
}

.nav-item-scroll {
    background: rgba(248, 249, 250, 1);
}

.nav-item-scroll:hover,
.nav-item-scroll-dropdown-open {
    background: rgba(33, 37, 41, 1);
}

.nav-link-no-scroll {
    color: rgba(248, 249, 250, 1);
    text-shadow: 1px 1px 2px #000000;
}

.nav-link-no-scroll:hover,
.nav-link-no-scroll-dropdown-open {
    color: rgba(33, 37, 41, 1);
    text-shadow: none;
}

.nav-link-scroll {
    color: rgba(33, 37, 41, 1);
}

.nav-link-scroll:hover,
.nav-link-scroll-dropdown-open {
    color: rgba(248, 249, 250, 1) !important;
}

.bg-grad {
    background: linear-gradient(to bottom, rgba(191, 191, 191, 1), rgba(0, 0, 0, 0.0));
}

.navbar {
    transition: all 0.3s;
    height: 100px;
}

.lvl0 {
    min-width: 190px; 
}

.first-word.lvl1 {
    font-size: 1.1em;
    font-weight: 600;
}

.non-first-word.lvl1 {
    font-size: 0.7em;
}


.navbar-brand {
    margin: 0;
    width: 200px;
    min-height: 100px;
    letter-spacing: 3px;
}

.navbar-nav .nav-item {
    min-height: 100px;
}













.notoserif-regular {
font-family: "Noto Serif", serif;
font-weight: 400;
font-style: normal;
}

.roboto-bold {
font-family: "Roboto", sans-serif;
font-weight: 700;
font-style: normal;
}

.brush-script {
font-family: "Brush Script MT", sans-serif;
font-weight: 400;
font-style: normal;
}

.petit-formal-script-regular {
font-family: "Petit Formal Script", cursive;
font-weight: 700;
font-style: bold;
}

.font-size-1 {
font-size: 4em;
}

.font-size-2 {
font-size: 3em;
}

.font-size-3 {
font-size: 2em;
}

.font-size-4 {
font-size: 1.5em;
}




.small-img {
width: 100px;
height: 100px;
}

.small-img:hover {
transform: scale(1.1);
}

.medium-img {
width: 200px;
height: 200px;
}

.medium-img:hover {
transform: scale(1.1);
}


.section-title {
font-size: 3em;
font-weight: 700;
font-family: "Amaranth", sans-serif;
text-align: center;
}

.section-subtitle {
font-size: 2em;
font-weight: 400;
font-family: "Amaranth", sans-serif;
text-align: center;
}

.section-text {
font-size: 1.5em;
font-weight: 400;
font-family: Arial, sans-serif;
margin-top: 1em;
}


.hero {
position: relative;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
padding: 0;
}

.carousel-item {
transition: transform 1.5s ease-in-out;
}


img.hover-shadow {
transition: 0.3s;
}

.hover-shadow:hover {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
transform: scale(1.1);
}

.card:hover {
transform: scale(1.05);
transition: 0.3s;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img-top {
min-height: 300px;
}

